<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <%= link_to topic_path(@mod.track.topic) do %>
        <p class="header-back"><< Tracks</p>
      <% end %>
      <h1><%= @mod.name %></h1>
      <p class="header-info"><%= @lessons.count %> lessons</p>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <div class="lessons">
    <% @lessons.each do |lesson| %>
      <div class="lesson">
        <%= link_to lesson_path(lesson) do %>
          <div class="lesson-header">
            <%= image_tag lesson.icon, :class => "lesson-icon" %>
            <div class="lesson-type <%= lesson.action_type %>"><%= lesson.lesson_type.upcase %></div>
          </div>
          <p class="lesson-description">
            <%= lesson.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

</div><!-- column-main -->
<div class="column-right">
  <%= render "activity_feeds/sidebarindex"%>
</div>