<%= subscribe_to "/layouts/assignments" %>

<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <h1><%= @user.full_name %></h1>
        <div class="section-right">
          <% if (@user.facebook != '') && (@user.facebook != nil) %>
              <%= link_to "#{@user.facebook}", :target => "blank" do %>
              <i class="fa fa-facebook"></i>
              <% end %>
            <% end %>
           <% if (@user.instagram != '') && (@user.instagram != nil) %>
               <%= link_to "http://instagram.com/#{@user.instagram}", :target => "blank" do %>
               <i class="fa fa-instagram"></i>
               <% end %>
            <% end %>
             <% if (@user.twitter != '') && (@user.twitter != nil) %>
              <%= link_to "http://twitter.com/#{@user.twitter}", :target => "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            <% end %>
             <% if (@user.linkedin!= '') && (@user.linkedin != nil) %>
               <%= link_to "#{@user.linkedin}", :target => "blank" do %>
                <i class="fa fa-linkedin"></i>
               <% end %>
            <% end %>
            <% if (@user.dribbble != '') && (@user.dribbble != nil) %>
              <%= link_to "http://dribbble.com/#{@user.dribbble}", :target => "blank" do %>
              <i class="fa fa-dribbble"></i>
              <% end %>
            <% end %>
             <% if (@user.github != '') && (@user.github != nil) %>
              <%= link_to "http://github.com/#{@user.github}", :target => "blank" do %>
              <i class="fa fa-github"></i>
              <% end %>
            <% end %>
             <% if (@user.angellist != '') && (@user.angellist != nil) %>
              <%= link_to "http://angel.co/#{@user.angellist}", :target => "blank" do %>
                <i class="fa fa-star"></i>
              <% end %>
            <% end %>
        </div>
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">

<!-- ************************ -->
<!-- ******** LEFT ********* -->
<!-- ************************ -->

<!-- ** Hide profile if role is admin ** -->
<% if @user.role == "admin" %>
<% else %>

  <div class="profile-bottom">

    <ul class="nav nav-tabs" style="margin-top: 22px; margin-bottom: 20px;">
      <li class="active"><a href="#tab-activity" data-toggle="tab">Activity</a></li>
      <li><a href="#tab-assignments" data-toggle="tab">Assignments</a></li>
      <li><a href="#tab-milestones" data-toggle="tab">Milestones</a></li>
      <li><a href="#tab-quizzes" data-toggle="tab">Quizzes</a></li>
    </ul>

    <div class="tab-content">

      <!-- ******** IN PROGRESS ********** -->
      <div class="tab-pane" id="tab-ip">
        <div id="current">
          <% @courses.each do |course| %>
            <% if course.course_complete_for_user?(@user) == true %>
            <% elsif course.progress(@user) > 0 %>
              <%= link_to(course_path(course)) do %>
                <div class="container">
                  <div class="box">
                    <%= image_tag(course.course_icon) %>
                  </div><!-- box -->
                  <div class="title">
                    <%= course.title %>
                  </div><!-- title -->
                  <div class="date">
                    <%= course.progress(@user).to_i %>% Complete
                  </div><!-- date -->
                </div><!-- container -->
              <% end %>
            <% else %>
            <% end %>
          <% end %>
        </div><!-- current -->
      </div><!-- tab-ip -->

      <!-- ******** SCORES ********** -->
      <div class="tab-pane" id="tab-quizzes">
        <div style="display: block; overflow:hidden; height: auto; min-height: 50px;">
          <% @assignments.each do |assignment| %>
            <% if assignment.complete_for_user?(@user) == true %>
              <% if assignment.category == "quiz" %>
                <div class="quiz-section">
                  <div class="score-tile">
                    <div class="score">
                      <%= ((assignment.survey.attempts.for_participant(@user).high_score).to_f / (assignment.survey.questions.count) * 100).to_i %>%
                    </div><!-- score -->
                  </div><!-- score-tile -->
                  <div class="title"><%= assignment.title %></div>
                  <% if assignment.survey.attempts.for_participant(@user).count > 0 %>
                    <div class="description">You scored <%= assignment.survey.attempts.for_participant(@user).high_score %> out of <%= assignment.survey.questions.count %></div>
                  <% else %>
                      <div class="description">Not started</div>
                  <% end %>
                </div><!-- quiz-section -->
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- ******** ACTIVITY ********** -->
      <div class="tab-pane active" id="tab-activity">
        <div style="display: block; overflow:hidden; height: auto; min-height: 50px; padding-left: 10px;">
          <% @activity_feeds.where(:user_id => @user.id).each do |activity_feed| %>
            <%= ActivityFeedPresenter.new(activity_feed, self).render_activity_feed %>

            <!-- ActivityFeed-comments -->
            <div id="comments_section">
              <div id="comments_container" style="width: 85%; margin-top: 0; margin-bottom: 30px;">
                <div id="<%= @assignment.user_assignments.where(:user_id => @user[:id]).first.id %>">
                  <%= render "user_comments/uacomments" %>
                </div>
                <div id="submit-<%= @assignment.user_assignments.where(:user_id => @user[:id]).first.id %>" style="margin-left: 20px;">
                  <%= render "user_comments/addcomment_uafeed" %>
                </div>
              </div> <!-- Comments Container -->
            </div><!-- Comments Section -->

          <% end %><!-- End Activity Feed Loop -->
        </div>
      </div><!-- tab-activity -->


      <!-- ******** ASSIGNMENTS ********** -->
      <div class="tab-pane" id="tab-assignments">
        <div style="display: block; overflow:hidden; height: auto; min-height: 50px; padding-left: 10px;">
          <% @assignments.each do |assignment| %>
            <% if assignment.category == "upload" %>
              <% if assignment.complete_for_user?(@user) == true %>
              <% @ua = UserAssignment.where(:id => assignment.user_assignments.where(:user_id => @user[:id]).first.id).first
                 @commentable = @ua
                 @comments = @commentable.user_comments.order(:created_at)
                 @comment = UserComment.new
                %>
                <div id="assignments">
                  <div class="section">
                    <div class="icon">
                      <%= image_tag(assignment.speaker_pic) %>
                    </div>
                    <div class="text-section">
                    <%= link_to(assignment_path(assignment)) do %>
                      <div class="title" style="color:#246db4;"><%= assignment.title %></div>
                    <% end %>
                      <div class="description"><%= sanitize(simple_format(assignment.user_assignments.where(:user_id => @user[:id]).first.text)) %></div>
                    </div><!-- Text Section -->
                    <div class="button-section">
                      <% if assignment.user_assignments.where(:user_id => @user[:id]).first.link != nil %>
                        <%= link_to "#{assignment.user_assignments.where(:user_id => @user[:id]).first.link}", target: "_blank", :class => "link-button-yellow" do %><i class="fa fa-chain"></i><% end %>
                      <% end %>
                      <% if assignment.user_assignments.where(:user_id => @user[:id]).first.upload_file_name != nil %>
                        <%= link_to "#{assignment.user_assignments.where(:user_id => @user[:id]).first.upload}", :class => "download-button-blue" do %><i class="fa fa-arrow-down"></i><% end %>
                        <br/>
                      <% end %>
                    </div><!-- Button Section -->
                  </div><!-- Section -->
                </div><!-- Assignments -->
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div><!-- End Assignments Tab -->


      <!-- ******** MILESTONES ********** -->
      <div class="tab-pane" id="tab-milestones">

        <% @assignments.each do |assignment| %>
          <% if assignment.category == "milestone" %>
            <% if assignment.complete_for_user?(@user) == true %>
               <% @ua = UserAssignment.where(:id => assignment.user_assignments.where(:user_id => @user[:id]).first.id).first
                 @commentable = @ua
                 @comments = @commentable.user_comments.order(:created_at)
                 @comment = UserComment.new
                %>
              <div id="milestones">
                <div class="section">
                  <div class="icon"><%= image_tag(assignment.course.course_icon) %></div>
                  <%= link_to(assignment_path(assignment)) do %>
                    <div class="description" style="color:#246db4;"><%= sanitize(simple_format(assignment.description)) %></div>
                  <% end %>
                  <div class="response"><%= simple_format(assignment.user_assignments.where(:user_id => @user[:id]).first.text) %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %><!-- End Hide if Admin -->

</div><!-- column-main -->

<!-- ******************** -->
<!-- *** Right Column *** -->
<!-- ******************** -->

<div class="column-right" style="background:white;">
  <div class="profile">
    <div class="avatar">
      <%= image_tag(@user.avatar.url(:large)) %>
    </div>

    <div id="profile-info">
      <div class="info-section">
        <!-- ** general info ** -->
        <% if current_user.id == @user.id %>
          <p><%= best_in_place @user, :bio, :type => :textarea %></p>
        <% else %>
          <p><%= simple_format(@user.bio) %></p>
        <% end %>

        <div style="width: 100%; height: 1px; background: #eee;"></div>

        <table id="profile-about-table" style="margin: 10px 5px;">
          <tr>
            <% if @user.role == "boarding" %>
              <td class="icon"><i class="fa fa-building-o icon-muted" style="font-size: 12px;"></i></td>
              <td><span> Residential Student</span></td>
            <% elsif @user.role == "online" %>
              <td class="icon"><i class="fa fa-globe icon-muted" style="font-size: 12px;"></i></td>
              <td><span> Online Student</span></td>
            <% elsif @user.role == "admin" %>
              <td class="icon"><i class="fa fa-flash icon-muted" style="font-size: 12px;"></i></td>
              <td><span> Riskmaster</span></td>
            <% else %>
              <td class="icon"><i class="fa fa-flash icon-muted" style="font-size: 14px;"></i></td>
              <td><span> <%= @user.role %></span></td>
            <% end %>
          </tr>
          <tr>
            <td class="icon"><i class="fa fa-trophy"></i></td>
            <td>Team <%= @user.team %></td>
          </tr>
          <tr>
            <td class="icon"><i class="fa fa-envelope"></i></td>
            <td> <%= @user.email %></td>
          </tr>
          <tr>
            <td class="icon"><i class="fa fa-location-arrow"></i></td>
            <td><%= @user.country %></td>
          </tr>
        </table>

      </div><!-- info-section -->
      <div style="display: block; width: 100%; height: 1px; background: #eee;"></div>


    </div><!-- profile-info -->
  </div><!-- profile -->
</div><!-- column-right -->
