<%= subscribe_to "/layouts/assignments" %>
<ul class="breadcrumb">
  <li><%= link_to 'Students', users_path %> <span class="divider">/</span></li>
  <li><%= @user.full_name %></li>
</ul>



<div class="profile-bottom">
  <!-- ************************ -->
  <!-- ******** LEFT ********* -->
  <!-- ************************ -->

  <div class="section-left">

  <div id="profile_top_container">
    <div id="avatar"><%= image_tag @user.avatar.url(:medium) %></div>
    <div class="right">
      <div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
      <div id="profile-info">
        <% if (@user.facebook != '') && (@user.facebook != nil) %>
          <%= link_to "#{@user.facebook}", :target => "blank" do %><img id="facebook"/><% end %>
        <% end %>
       <% if (@user.instagram != '') && (@user.instagram != nil) %>
           <%= link_to "http://instagram.com/#{@user.instagram}", :target => "blank" do %><img id="instagram"/><% end %>
        <% end %>
         <% if (@user.twitter != '') && (@user.twitter != nil) %>
          <%= link_to "http://twitter.com/#{@user.twitter}", :target => "blank" do %><img id="twitter"/><% end %>
        <% end %>
         <% if (@user.linkedin!= '') && (@user.linkedin != nil) %>
           <%= link_to "#{@user.linkedin}", :target => "blank" do %><img id="linkedin"/><% end %>
        <% end %>
        <% if (@user.dribbble != '') && (@user.dribbble != nil) %>
          <%= link_to "http://dribbble.com/#{@user.dribbble}", :target => "blank" do %><img id="dribbble"/><% end %>
        <% end %>
         <% if (@user.github != '') && (@user.github != nil) %>
          <%= link_to "http://github.com/#{@user.github}", :target => "blank" do %><img id="github"/><% end %>
        <% end %>
         <% if (@user.angellist != '') && (@user.angellist != nil) %>
          <%= link_to "http://angel.co/#{@user.angellist}", :target => "blank" do %><img id="angellist"/><% end %>
        <% end %>
      </div>
      <br>
    </div>
  </div>

  <div id="profile-info">
    <div class="info-section">
      <div>
        <p><%= simple_format(@user.bio) %></p>
        <table id="profile-about-table">
          <tr>
            <% if @user.online == "boarding" %>
              <td class="icon"><i class="fa fa-building-o icon-muted" style="font-size: 12px;"></i></td>
              <td><span> <%= @user.program %></span></td>
            <% elsif @user.online == "online" %>
              <td class="icon"><i class="fa fa-globe icon-muted" style="font-size: 12px;"></i></td>
              <td><span> <%= @user.program %></span></td>
            <% else %>
              <td class="icon"><i class="fa fa-flash icon-muted" style="font-size: 14px;"></i></td>
              <td><span> <%= @user.program %></span></td>
            <% end %>
          </tr>
           <tr>
            <td class="icon"><i class="fa fa-trophy"></i></td>
            <td><%= @user.team %></td>
          </tr>
          <tr>
            <td class="icon"><i class="fa fa-location-arrow"></i></td>
            <td><%= @user.country %></td>
          </tr>
          <tr>
            <td class="icon"><i class="fa fa-envelope-o"></i></td>
            <td><%= link_to "mailto:#{@user.email}", :target => "blank" do %><%= @user.email %><% end %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="info-section skills-section">
      <% @user.skills.each do |skill| %>
        <%= link_to skill_path(skill) do %>
          <div class="skill-tag"><%= skill.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>


<!-- ************************ -->
<!-- ******** RIGHT ********* -->
<!-- ************************ -->
  
<div class="section-right">
  <ul class="nav nav-tabs" style="margin-top: 22px; margin-bottom: 20px;">
   <!--  <li class="active"><a href="#tab-activity" data-toggle="tab">Activity</a></li> -->
    <li class="active"><a href="#tab-assignments" data-toggle="tab">Assignments</a></li>
    <li><a href="#tab-milestones" data-toggle="tab">Milestones</a></li>
    <li><a href="#tab-quizzes" data-toggle="tab">Quizzes</a></li>
    <li><a href="#tab-badges" data-toggle="tab">Badges</a></li>
    <!-- <li><a href="#tab-ip" data-toggle="tab">In Progress</a></li> -->
  </ul>

  <div class="tab-content">
   <!--  <div class="tab-pane active" id="tab-activity"> -->
      <!-- want to show activity feed for user -->
    <!-- </div> -->

    <!-- ******** BADGES EARNED ********** -->
    <div class="tab-pane" id="tab-badges">
      <div id="badges">
        <% @user.badges.each do |badge| %>
          <% if badge.course_id %>
            <% @course = Course.find_by_id(badge.course_id) %>
              <%= link_to(course_path(@course)) do %>
                <div class="container">
                  <div class="box">
                   <%= image_tag(@course.course_icon(:large)) %>
                  </div>
                  <div class="title">
                    <%= @course.title %>
                  </div>
                  <div class="date">
                    <%= badge.created_at.to_date.to_formatted_s( :long_ordinal ) %>
                  </div>
                </div>
              <% end %>
          <% else %>
           <div class="container">
              <div class="box" style="background-image: url(<%= image_tag(badge.icon) %>)"></div>
              <div class="title">
                <%= badge.name %>
              </div>
              <div class="date">
                <%= badge.created_at.to_date.to_formatted_s( :long_ordinal ) %>
              </div>
           </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- ******** IN PROGRESS ********** -->
    <div class="tab-pane" id="tab-ip">
      <div id="current">
        <% @courses.each do |course| %>
          <% if course.course_complete_for_user?(@user) == true %>
          <% elsif course.progress(@user) > 0 %>
            <%= link_to(course_path(course)) do %>
              <div class="container">
                <div class="box">
                  <%= image_tag(course.course_icon) %>
                </div>
                <div class="title">
                  <%= course.title %>
                </div>
                <div class="date">
                <%= course.progress(@user).to_i %>% Complete
              </div>
              </div>
            <% end %>
          <% else %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- ******** SCORES ********** -->
    <div class="tab-pane" id="tab-quizzes">
      <div style="display: block; overflow:hidden; height: auto; min-height: 50px;">
        <% @assignments.each do |assignment| %>
          <% if assignment.complete_for_user?(@user) == true %>
            <% if assignment.category == "quiz" %>
              <div class="quiz-section">
                <div class="score-tile">
                  <div class="score"><%= ((assignment.survey.attempts.for_participant(@user).high_score).to_f / (assignment.survey.questions.count) * 100).to_i %>%</div>
                </div>
                <div class="title"><%= assignment.title %></div>
                <% if assignment.survey.attempts.for_participant(@user).count > 0 %>
                  <div class="description">You scored <%= assignment.survey.attempts.for_participant(@user).high_score %> out of <%= assignment.survey.questions.count %></div>
                <% else %>
                    <div class="description">Not started</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- ******** ASSIGNMENTS ********** -->
    <div class="tab-pane active" id="tab-assignments">
      <div style="display: block; overflow:hidden; height: auto; min-height: 50px; padding-left: 10px;">
        <% @assignments.each do |assignment| %>
          <% if assignment.category == "upload" %>
            <% if assignment.complete_for_user?(@user) == true %>
            <% @commentable = assignment
               @comments = @commentable.user_comments.order(:created_at)
               @comment = UserComment.new %>
              <div id="assignments">
                <div class="section">
                  <div class="icon"><%= image_tag(assignment.speaker_pic) %></div>
                  <!-- <div class="icon-section"><div class="icon"></div></div> -->
                <div class="text-section">
                  <div class="title"><%= assignment.title %></div>
                  <div class="description"><%= simple_format(assignment.user_assignments.where(:user_id => @user[:id]).first.text) %></div>
                </div>
                <div class="button-section">
                    <% if assignment.user_assignments.where(:user_id => @user[:id]).first.link != nil %>
                      <%= link_to "#{assignment.user_assignments.where(:user_id => @user[:id]).first.link}", target: "_blank", :class => "link-button-yellow" do %><i class="fa fa-chain"></i><% end %>
                    <% end %>
                    <% if assignment.user_assignments.where(:user_id => @user[:id]).first.upload_file_name != nil %>
                      <%= link_to "#{assignment.user_assignments.where(:user_id => @user[:id]).first.upload}", :class => "download-button-blue" do %><i class="fa fa-arrow-down"></i><% end %>
                      <br/>
                    <% end %>
                  </div>
                </div>
                <div id="comments_container">
                  <div id="<%= assignment.id %>">
                    <%= render "user_comments/comments" %>
                  </div>
                  <div id="submit-<%= assignment.id %>">
                    <%= render "user_comments/addcomment" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- ******** MILESTONES ********** -->
   <!--  <div class="section-bar">Business Plan Milestones</div> -->
    <div class="tab-pane" id="tab-milestones">

      <% @assignments.each do |assignment| %>
        <% if assignment.category == "milestone" %>
          <% if assignment.complete_for_user?(@user) == true %>
            <% @commentable = assignment
               @comments = @commentable.user_comments.order(:created_at)
               @comment = UserComment.new %>
            <div id="milestones">
              <div class="section">
                <div class="icon"><%= image_tag(assignment.course.course_icon) %></div>
                <div class="description"><%= simple_format(assignment.description) %></div>
                <div class="response"><%= assignment.user_assignments.where(:user_id => @user[:id]).first.text %></div>
                <div id="comments_container">
                  <div id="<%= assignment.id %>">
                    <%= render "user_comments/comments" %>
                  </div>
                  <div id="submit-<%= assignment.id %>">
                    <%= render "user_comments/addcomment" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="display: block; height: 100px; width: 100%;"></div>

    <!-- <div class="profile-posts">
      <%= render "posts/posts" %>
    </div> -->
  </div>
</div>
  
    

</div>


