<div id="profile_top_container">
	<div id="avatar"><%= image_tag @user.avatar.url(:medium) %></div>
	<div class="right">
		<div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
    <% if @user.online == "online" %>
      <div class ="type">Online</div>
    <% elsif @user.online == "boarding" %>
      <div class ="type blue">Boarding</div>
    <% elsif @user.online == "admin" %>
      <div class ="type red">Riskmaster</div>
    <% else %>
      <div class ="type blue"><%= @user.online %></div>
    <% end %>
    <div id="profile-info">

      <table>
        <tr>
          <td class="field">Bio</td>
          <td class="var"><%= @user.bio %></td>
        </tr>
        <tr>
          <td class="field">Team</td>
          <td class="var"><%= @user.team %></td>
        </tr>
        <tr>
          <td class="field">Skype</td>
          <td class="var"><%= @user.skype %></td>
        </tr>
        <tr>
          <td class="field">Gmail</td>
          <td class="var"><%= @user.gmail %></td>
        </tr>
        <tr>
          <td class="field">Country</td>
          <td class="var"><%= @user.country %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class ="line"></div>
</div>

<!-- ******** BADGES EARNED ********** -->
<div class="section-bar" >Badges earned</div>
  <div id="badges">
    <% @user.badges.each do |badge| %>
    <% if badge.course_id %>
      <% @course = Course.find_by_id(badge.course_id) %>
        <%= link_to(course_path(@course)) do %>
          <div class="container">
            <div class="box">
             <%= image_tag(@course.course_icon(:large)) %>
            </div>
            <div class="title">
              <%= @course.title %>
            </div>
            <div class="date">
              <%= badge.created_at.to_date.to_formatted_s( :long_ordinal ) %>
            </div>
          </div>
        <% end %>
    <% else %>
     <div class="container">
        <div class="box">
         <%= image_tag(badge.icon) %>
        </div>
        <div class="title">
          <%= badge.name %>
        </div>
        <div class="date">
          <%= badge.created_at.to_date.to_formatted_s( :long_ordinal ) %>
        </div>
     </div>
    <% end %>
  <% end %>
</div>

<!-- ******** CURRENT COURSES ********** -->
<div class="section-bar">Started Courses</div>
  <div id="current">
    <% @courses.each do |course| %>
      <% if course.course_complete_for_user?(current_user) == true %>
      <% elsif course.progress(current_user) > 0 %>
        <%= link_to(course_path(course)) do %>
          <div class="container">
            <div class="box">
              <%= image_tag(course.course_icon) %>
            </div>
            <div class="title">
              <%= course.title %>
            </div>
            <div class="date">
            <%= course.progress(current_user).to_i %>% Complete
          </div>
          </div>
        <% end %>
      <% else %>
      <% end %>
    <% end %>
  </div>

<!-- ******** SCORES ********** -->
<div class="section-bar">Quizzes</div>
<div style="display: block; overflow:hidden; height: auto; min-height: 50px;">
  <% @assignments.each do |assignment| %>
    <% if assignment.complete_for_user?(@user) == true %>
      <% if assignment.category == "quiz" %>
        <div class="quiz-section">
          <div class="score-tile">
            <div class="score"><%= ((assignment.survey.attempts.for_participant(current_user).high_score).to_f / (assignment.survey.questions.count) * 100).to_i %>%</div>
          </div>
          <div class="title"><%= assignment.title %></div>
          <% if assignment.survey.attempts.for_participant(current_user).count > 0 %>
            <div class="description">You scored <%= assignment.survey.attempts.for_participant(current_user).high_score %> out of <%= assignment.survey.questions.count %></div>
          <% else %>
              <div class="description">Not started</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- ******** ASSIGNMENTS ********** -->
<div class="section-bar">Assignments</div>
<div style="display: block; overflow:hidden; height: auto; min-height: 50px;">
  <% @assignments.each do |assignment| %>
    <% if assignment.category == "upload" %>
      <% if assignment.complete_for_user?(@user) == true %>
        <div id="assignments">
          <div class="section">
            <div class="icon-section"><div class="icon"></div>
          </div>
          <div class="text-section">
            <div class="title"><%= assignment.title %></div>
            <div class="description"><%= assignment.user_assignments.where(:user_id => current_user[:id]).first.text %></div>
          </div>
            <div class="button-section">
              <% if assignment.user_assignments.where(:user_id => current_user[:id]).first.link != nil %>
                <%= link_to "File Link", "#{assignment.user_assignments.where(:user_id => current_user[:id]).first.link}", target: "_blank", :class => "link-button-yellow" %>
              <% end %>
              <% if assignment.user_assignments.where(:user_id => current_user[:id]).first.upload_file_name != nil %>
                <%= link_to "Attachment", "#{assignment.user_assignments.where(:user_id => current_user[:id]).first.upload}", :class => "download-button-blue" %><br/>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- ******** MILESTONES ********** -->
<div class="section-bar">Business Plan Milestones</div>

<% @assignments.each do |assignment| %>
  <% if assignment.category == "milestone" %>
    <% if assignment.complete_for_user?(current_user) == true %>
      <div id="milestones">
        <div class="section">
          <div class="icon"><%= image_tag(assignment.course.course_icon) %></div>
          <div class="description"><%= assignment.description %></div>
          <div class="response"><%= assignment.user_assignments.where(:user_id => current_user[:id]).first.text %></div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div style="display: block; height: 100px; width: 100%;"></div>




