<div class="top-section <%= @topic.name.downcase.gsub(" ", "-").gsub("&-", "") %>">
  <div class="row">
    <div class="top-column-main">
      <%= link_to topic_path(@track.topic) do %>
        <p class="header-back"><< CHAPTERS</p>
      <% end %>
      <h1 class="no-letter-spacing"><%= @track.display_name %></h1>
      <p class="header-info"><%= @lesson_count %> LESSONS</p>
    </div><!-- column main -->
  </div><!-- row -->
</div>


<% if @tutorial %>

  <%= content_for :tutorial  do %>
    <div class="tutorial-overlay track-tut">
      <%= image_tag "line-arrow.svg", :class => "tut-arrow top" %>
      <div class="tut-top">We’ve come up with different types lessons for you here. You’ll find videos, activities, discussion questions, suggested reading, and tools.</div>
      <div class="tut-bottom">Look for and click these icons next to titles for a more detailed explanation of what they do.</div>
      <%= image_tag "line-arrow.svg", :class => "tut-arrow bottom" %>
      <%= image_tag "info-icon.svg", :class => "tut-info-icon" %>

      <%= link_to track_path(@track) do %>
        <div class="next-tut-container">
          <%= image_tag "check.svg", :class => "tut-check" %>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>

<div class="column-main">
  <div class="lessons">
    <% @lessons.each do |lesson_column| %>
      <% if lesson_column[0][1] %>
        <div class="lesson-column">
          <% lesson_column.each do |lesson_group| %>
            <% if lesson_group[1] %>
              <div class="lesson-group <%= lesson_group[0] %>">
                <div class="lesson-header">
                  <div class="lesson-header-main">
                    <%= image_tag lesson_group[1][0].icon, :class => "lesson-icon" %>
                    <p class="<%= lesson_group[1][0].lesson_type %>"><%= lesson_group[0].upcase %></p>
                  </div>
                  <%= image_tag "info-icon.svg", :class => "lesson-info-icon" %>
                  <div class="tool-tip">
                    <div class="lesson-header-main">
                      <%= image_tag lesson_group[1][0].icon, :class => "lesson-icon" %>
                      <p class="<%= lesson_group[1][0].lesson_type %>"><%= lesson_group[0].upcase %></p>
                    </div>
                    <div class="tool-tip-body">
                      <%= Lesson.description_for(lesson_group[0]).html_safe  %>
                    </div>
                    <div class="tool-tip-okay">
                      <%= image_tag "check.svg", :class => "tool-tip-check" %>
                    </div>
                    <div class="tool-tip-circle"></div>
                    <div class="tool-tip-line"></div>
                  </div>
                </div>
                
                <% lesson_group[1].each do |lesson_item| %>
                  <%= link_to lesson_path(lesson_item), :class => "lesson-item" do %>
                    <p class="lesson-description">
                      <%= lesson_item.description[0..54] + (lesson_item.description.length > 55 ? "..." : "") %>
                    </p>
                    <div class="lesson-status-container">
                      <%= image_tag lesson_item.status_icon(current_user), :class => "lesson-status-icon" %>
                      <% if lesson_item.video_length %>
                        <div class="video-length">
                          <%= lesson_item.video_length %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div><!-- column-main -->


<%= content_for :column_right do %>
    <div class="chat-header">
      <p>INFORMATION</p>
    </div>
     <div class="column-body">

      <%= image_tag @topic.done_icon, :class => "topic-info-icon" %>

      <p class="topic-description linkify">
        <%= @track.summary %>
      </p>
    </div>
    <% if @participants.length > 0 %> 
      <div class="participants">
        <p class="participants-header">
          STUDIED BY:
        </p>
        <div class="participants-list">
          <% @participants[0..10].each do |user| %>
            <%= image_tag user.avatar.url, :class => "participant" %>
          <% end %>
          <% if @participants.length > 11 %>
            <div class="more-participants participant">
             <%=  @participants.length - 11 %>+
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
<% end %>