<div class="top-section <%= @topic.name.downcase.gsub(" ", "-").gsub("&-", "") %>">
  <div class="row">
    <div class="top-column-main">
      <%= link_to topic_path(@track.topic) do %>
        <p class="header-back"><< CHAPTERS</p>
      <% end %>
      <h1 class="no-letter-spacing"><%= @track.display_name %></h1>
      <p class="header-info"><%= @lesson_count %> LESSONS</p>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <div class="lessons">
    <% @lessons.each do |lesson_column| %>
      <% if lesson_column[0][1] %>
        <div class="lesson-column">
          <% lesson_column.each do |lesson_group| %>
            <% if lesson_group[1] %>
              <div class="lesson-group <%= lesson_group[0] %>">
                <div class="lesson-header">
                  <%= image_tag lesson_group[1][0].icon, :class => "lesson-icon" %>
                  <p class="<%= lesson_group[1][0].action_type %>"><%= lesson_group[0].upcase %></p>
                </div>
                
                <% lesson_group[1].each do |lesson_item| %>
                  <%= link_to lesson_path(lesson_item), :class => "lesson-item" do %>
                    <p class="lesson-description">
                      <%= lesson_item.description[0..54] + (lesson_item.description.length > 55 ? "..." : "") %>
                    </p>
                    <div class="lesson-status-container">
                      <%= image_tag lesson_item.status_icon(current_user), :class => "lesson-status-icon" %>
                      <% if lesson_item.video_length %>
                        <div class="video-length">
                          <%= lesson_item.video_length %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

</div><!-- column-main -->
<div class="column-right">
</div>