<div class="upload_description">
  <table id="event-table" style="margin-top: 0px;">
      <tr>
        <td class="icon"><i class="fa fa-align-justify"></i></td>
        <td><% if @assignment.description != nil %><%= @assignment.description.html_safe %><% end %></td>
      </tr>
      <tr>
        <td class="icon"><i class="fa fa-user"></i></td>
        <td>Completed by Yad Faeq, Charles Taibi, Kelsey Whelan, and 6 more</td>
      </tr>
      <tr>
        <td class="icon"><i class="fa fa-bolt"></i></td>
        <td>500 Points</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
</div>


<div class="edit-form" style="width: 90%;">
  <%= simple_form_for [@user_assignment.first], :html => { :method => :put, :multipart => true } do |f| %>
      <%= f.input :text, :as => :ckeditor, label: "Response (required)", :input_html => { :ckeditor => { :toolbar => 'Pure'} }, :required => true %>

      <!-- show upload only if category is upload -->
      <% if @assignment.category == "upload" %>
        <% #f.input :link, label: "Url Link (optional)" %>
        <br/>
        <div class="field">
            <%= f.label "Attach a file (Optional)" %>
            <%= f.file_field :upload %>
        </div>
      <% end %>

      <br />
      <%= f.input :point_value, :as => :hidden, :input_html => { :value => 500 } %>
      <%= f.submit "Submit" %>
  <% end %>
</div>