<%= subscribe_to "/layouts/assignments" %>

<div class="top-section">
  <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <% if current_user.role == "admin" %>
          <h1 style="font-size: 21px;"><%= best_in_place @assignment, :title, :type => :input, :class => 'best_in_place' %></h1>
        <% else %>
          <h1 style="font-size: 21px;"><%= @assignment.title %></h1>
        <% end %>
      </div>
  </div>
</div>

<div class="column-main">
  <div class="back" style="margin-left: 15px;">
    <%= link_to @assignment.course.title, course_path(@assignment.course) %>
  </div>

  <div id="assignment_container">

    <!-- ******** VIDEO/FOUNDER ******* -->
    <% if @assignment.category == "video" or @assignment.category == "founder" %>
      <br/>
      <!-- ** completed assignment ** -->
      <% if @assignment.complete_for_user?(current_user) %>
        <%  @user_assignment = UserAssignment.where(:user_id => current_user[:id],:assignment_id => @assignment.id) %>

        <!-- Track user assignment, mark as complete, update point value -->
        <% if @user_assignment.first.complete == false %>
          <% track_activity_feed @user_assignment.first %>
          <% @user_assignment.first.update_column(:complete, true) %>
          <% @user_assignment.first.update_column(:point_value, 300) %>
        <% end %>

        <div class="small-video-container">
          <div class="video-responsive-container">
            <%= raw @video_embed %>
          </div>
        </div>

        <div class="float-right-50">
          <h4 style="padding-bottom: 0; margin-bottom: 0; margin-top: 5px;">Study Question:</h4>
          <h2 style="margin-top: 5px;"><%= simple_format(@assignment.question_text) %></h2>
        </div>
        <br/><br/>
        <div class="line" style="background: white;"></div>
        <h2 style="line-height: 1.2;">Tim's Takeaway</h2>
        <p class="minimize"><%= @assignment.question_duh_response %></p>
        <br/>
        <div class="line"></div>
        <div class="student-response">
          <div class="picture">
            <%= image_tag(current_user.avatar(:medium)) %>
          </div>
          <div class="info">
            <div class="name"><%= current_user.full_name %></div>
            <% i = 0 %>
            <% r = @user_assignment.first.rating.to_i %>
            <% while i < r do %>
              <i class="fa fa-star"></i>
              <% i += 1 %>
            <% end %>
            <span style="margin-left: 10px;">
              <a id="video-form" data-toggle="modal" href="#complete-video-form" data-backdrop="false">Edit Response</a>
            </span>
            <p class="response"><%= best_in_place @user_assignment.first, :question_response, :type => :textarea, :class => 'best_in_place' %></p>
          </div>
        </div>
        <div class="line"></div>
        <% @completed.where("user_id NOT IN (?)", User.where(:role => "admin").pluck(:id)).each do |c| %>
          <div class="student-response">
            <div class="picture"><%= image_tag(User.find(c.user_id).avatar(:medium)) %></div>
            <div class="info">
              <div class="name">
                <%= link_to student_profile_path(User.find(c.user_id)) do %>
                  <%= User.find(c.user_id).full_name %>
                <% end %>
              </div>
              <% i = 0 %>
              <% r = c.rating %>
              <% while i < r do %>
                <i class="fa fa-star"></i>
                <% i += 1 %>
              <% end %>
              <p class="response minimize"><%= simple_format(c.question_response) %></p>
            </div>
          </div>
        <% end %>

        <% if current_user.role == "admin" %>
          <div class="admin">
            <div class="left">
              <p><b>Required for Online?</b></p>
              <p width="80%;"><%= best_in_place @assignment, :req_online, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"]] %></p>
              <p><b>Required for Boarding?</b></p>
              <p width="80%;"><%= best_in_place @assignment, :req_boarding, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"],["hidden", "Hidden"]] %></p>
              <p><b>Day?</b></p>
              <p width="80%;"><%= best_in_place @assignment, :day, :type => :select, :collection => [["Day One", "Day One"], ["Day Two", "Day Two"],["Day Three", "Day Three"], ["Day Four", "Day Four"], ["Day Five", "Day Five"], ["Day Six", "Day Six"], ["Day Seven", "Day Seven"]] %></p>
            </div>
            <div class="right">
              <p><b>Question:</b></p>
              <p><%= best_in_place @assignment, :question_text, :type => :input, :class => 'best_in_place', :nil => 'Click me to add question' %></p>
              <p><b>Tim's Takeaway:</b></p>
              <p><%= best_in_place @assignment, :question_duh_response, :type => :textarea, :class => 'best_in_place', :nil => 'Click me to add Tims Takeaway' %></p>
            </div>

          </div>
          <% end %>

      <!-- ** not completed ** -->
      <% else %>
        <div class="video-responsive-container">
          <%= raw @video_embed %>
        </div>
       <div class="speaker-section">
          <%= image_tag(@assignment.speaker_pic) %>

          <div class="info">
             <a id="complete-video" class="button" data-toggle="modal" href="#complete-video-form" data-backdrop="false">Mark as Complete</a>

            <% if current_user.role == "admin" %>
              <h2><%= best_in_place @assignment, :speaker_name, :type => :input, :class => 'best_in_place', :html_attrs => { :maxlength => 255 }, :nil => "Click me to add speaker name" %></h2>
              <p><%= best_in_place @assignment, :description, :type => :textarea, :class => 'best_in_place', :nil => "Click me to add description" %></p>
            <% else %>
              <h2><%= @assignment.speaker_name %></h2>
              <p><%= simple_format(@assignment.description) %></p>
            <% end %>
          </div>



        <% if current_user.role == "admin" %>
            <div class="admin">
              <div class="left">
                <p><b>Required for Online?</b></p>
                <p width="80%;"><%= best_in_place @assignment, :req_online, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"]] %></p>
                <p><b>Required for Boarding?</b></p>
                <p width="80%;"><%= best_in_place @assignment, :req_boarding, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"],["hidden", "Hidden"]] %></p>
                <p><b>Day?</b></p>
                <p width="80%;"><%= best_in_place @assignment, :day, :type => :select, :collection => [["Day One", "Day One"], ["Day Two", "Day Two"],["Day Three", "Day Three"], ["Day Four", "Day Four"], ["Day Five", "Day Five"], ["Day Six", "Day Six"], ["Day Seven", "Day Seven"]] %></p>
              </div>
              <div class="right">
                <p><b>Question:</b></p>
                <p><%= best_in_place @assignment, :question_text, :type => :input, :class => 'best_in_place', :nil => 'Click me to add question' %></p>
                <p><b>Tim's Takeaway:</b></p>
                <p><%= best_in_place @assignment, :question_duh_response, :type => :textarea, :class => 'best_in_place', :nil => 'Click me to add Tims Takeaway' %></p>
              </div>

            </div>
          <% end %>
        </div><!-- speaker-section -->
      <% end %><!-- End Not Completed -->

    <!-- ******** READING ******* -->
    <% elsif @assignment.category == "reading" %>
      <br/>
      <div class="video-responsive-container">
        <%= raw @video_embed %>
      </div>
      <div class="speaker-section">
        <%= image_tag(@assignment.speaker_pic(:large)) %>
        <div class="info">
          <% if current_user.role == "admin" %>
              <h2><%= best_in_place @assignment, :speaker_name, :type => :input, :class => 'best_in_place', :html_attrs => { :maxlength => 255 }, :nil => "Click me to add speaker name" %></h2>
              <p><%= best_in_place @assignment, :description, :type => :textarea, :class => 'best_in_place', :html_attrs => { :maxlength => 255 }, :nil => "Click me to add description" %></p>
          <% else %>
            <h2><%= @assignment.speaker_name %></h2>
            <p><%= @assignment.description %></p>
          <% end %>
        </div>
      </div><!-- speaker-section -->

      <!-- ** Admin Panel ** -->
      <% if current_user.role == "admin" %>
        <div class="admin">
          <div class="left">
            <p><b>Required for Online?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_online, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"]] %></p>
            <p><b>Required for Boarding?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_boarding, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"],["hidden", "Hidden"]] %></p>
            <p><b>Day?</b></p>
              <p width="80%;"><%= best_in_place @assignment, :day, :type => :select, :collection => [["Day One", "Day One"], ["Day Two", "Day Two"],["Day Three", "Day Three"], ["Day Four", "Day Four"], ["Day Five", "Day Five"], ["Day Six", "Day Six"], ["Day Seven", "Day Seven"]] %></p>
          </div>
        </div>
      <% end %>

    <!-- ******** QUIZ ******* -->
    <% elsif @assignment.category == "quiz" %>
      <div class="quiz_description" style="min-height: 20px;"></div>

      <% if @assignment.survey.avaliable_for_participant?(current_user) %>
        <%= render 'quiz' %>
      <% else %>
        <div class="quiz-score">
        <% if @assignment.complete_for_user?(current_user) %>
          <%  @user_assignment = UserAssignment.where(:user_id => current_user[:id],:assignment_id => @assignment.id) %>
          <% if @user_assignment.first.complete == false %>
            <% track_activity_feed @user_assignment.first %>
            <% @user_assignment.first.update_column(:complete, true) %>
            <% @user_assignment.first.update_column(:point_value, 300) %>
          <% end %>
         <% end %>
          <p style="font-size: 20px; color: #333; font-weight lighter; margin-bottom: 10px;">You got <%= @quiz_high_score %> out of <%= @quiz_total_questions %> questions correct</p>
         <!--  <%= @quiz_ratio %>
          <br />
          <br /> -->
          <!-- ** Show quiz answers ** -->
          <% if current_user.role == "boarding" %>
          <% else %>
            <div class="quiz-answers">
              <ul>
                <% @assignment.survey.questions.each_with_index do |question, index| %>
                <li>
                  <p style="font-weight: normal;"><%= question.text %></p>
                  <% question.options.correct.each do |option| %>
                      <p class="correct"><%= option.text %></p>
                  <% end %>
                  <% question.options.incorrect.each do |option| %>
                      <p class="incorrect"><%= option.text %></p>
                  <% end %>
               </li>
               <% end %>
              </ul>
            </div>
          <% end %><!-- End if available for user -->
        </div>
      <% end %>

      <!-- ** Admin Panel ** -->
      <% if current_user.role == "admin" %>
        <div class="admin">
          <div class="left">
            <p><b>Required for Online?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_online, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"]] %></p>
            <p><b>Required for Boarding?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_boarding, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"],["hidden", "Hidden"]] %></p>
            <p><b>Day?</b></p>
              <p width="80%;"><%= best_in_place @assignment, :day, :type => :select, :collection => [["Day One", "Day One"], ["Day Two", "Day Two"],["Day Three", "Day Three"], ["Day Four", "Day Four"], ["Day Five", "Day Five"], ["Day Six", "Day Six"], ["Day Seven", "Day Seven"]] %></p>
          </div>
        </div>
      <% end %>

    <% end %>
    <!-- ******** UPLOAD ******* -->
    <%  @user_assignment = UserAssignment.where(:user_id => current_user[:id],:assignment_id => @assignment.id) %>
    <% if @assignment.require_upload == true %>
      <% if @assignment.user_assignments.where(:user_id => current_user[:id]).count > 0 %>
        <% if @user_assignment.first.text != nil %>

          <!-- Track user assignment and mark as complete, update points -->
          <% if @user_assignment.first.complete == false %>
            <% track_activity_feed @user_assignment.first %>
            <% @user_assignment.first.update_column(:complete, true) %>
            <% if @assignment.category == "upload" %>
              <% @user_assignment.first.update_column(:point_value, 500) %>
            <% elsif @assignment.category == "milestone" %>
              <% @user_assignment.first.update_column(:point_value, 300) %>
            <% else %>
            <% end %>
          <% end %>

          <div class="upload_show">
            <div class="upload_description">
              <table id="event-table" style="margin-top: 0px;">
                  <tr>
                    <td class="icon"><i class="fa fa-check-circle" style="color: #24b494"></i></td>
                    <td>Completed <%= @user_assignment.first.updated_at.strftime("%B %e") %></td>
                  </tr>
                  <tr>
                    <td class="icon"><i class="fa fa-align-justify"></i></td>
                    <td><% if @assignment.description != nil %><p class="minimize"><%= @assignment.description.html_safe %></p><% end %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
            </div>
            <div class ="section-bar" style="margin-bottom: 10px;">Response </div>
            <!-- <li role="menu"><%= link_to 'Edit',  edit_user_assignment_path(@user_assignment.first) %></li>
 -->
            <p><%= raw(@user_assignment.first.text) %></p>
            <br />
            <% if @assignment.category == "upload" %>
              <div class ="section-bar" style="margin-bottom: 10px; margin-top: 0;">Uploads</div>
            <% end %>
            <% if @user_assignment.first.link != nil %>
              <p><%= link_to "File Link", "#{@user_assignment.first.link}", target: "_blank", :class => "link-button-yellow" %></p><br/>
            <% end %>
            <br />
            <% if @user_assignment.first.upload_file_name != nil %>
              <% if @user_assignment.first.upload_content_type == 'image/jpeg' or @user_assignment.first.upload_content_type == 'image/png' or @user_assignment.first.upload_content_type == 'image/gif' %>
                <%= image_tag(@user_assignment.first.upload) %>
              <% elsif @user_assignment.first.upload_content_type == '' %>
              <% else %>
              <%= link_to "Download File", "#{@user_assignment.first.upload}", :class => "download-button-blue" %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <%= render 'upload' %>
        <% end %>
      <% end %>

      <!-- ** Admin Panel ** -->
       <% if current_user.role == "admin" %>
        <div class="admin">
          <div class="left">
            <p><b>Required for Online?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_online, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"]] %></p>
            <p><b>Required for Boarding?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :req_boarding, :type => :select, :collection => [["required", "Required"], ["optional", "Optional"],["hidden", "Hidden"]] %></p>
            <p><b>Day?</b></p>
            <p width="80%;"><%= best_in_place @assignment, :day, :type => :select, :collection => [["Day One", "Day One"], ["Day Two", "Day Two"],["Day Three", "Day Three"], ["Day Four", "Day Four"], ["Day Five", "Day Five"], ["Day Six", "Day Six"], ["Day Seven", "Day Seven"]] %></p>
          </div>
        </div>
      <% end %>

    <% end %><!-- End if assignment type is Upload -->
  </div> <!-- end span10 -->
</div> <!-- column-main -->

<!-- ************************************** -->
<!-- **** MARK AS COMPLETE MODAL FORM ***** -->
<!-- ************************************** -->
<%  @user_assignment = UserAssignment.where(:user_id => current_user[:id],:assignment_id => @assignment.id) %>

 <div id="complete-video-form" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="padding: 30px;">
    <% if @user_assignment %>
      <%= form_for @user_assignment.first, :html => {:id => 'complete-video-form'} do |f| %>
        <button type="button" class="close" style="" data-dismiss="modal" aria-hidden="true">x</button>
        <h2>Complete <%= @assignment.title %></h2><br/>
        <div class="title">Please rate this lecture from one to five stars, where five is the best.</div>
        <fieldset class="rating" required="required">
          <%= f.radio_button("rating", 5,  id: "star5") %>
           <label for="star5" title="Rocks!"></label>
          <%= f.radio_button("rating", 4, checked: false, id: "star4") %>
          <label for="star4" title="Great"></label>
          <%= f.radio_button("rating", 3, checked: false, id: "star3") %>
          <label for="star3" title="Good"></label>
          <%= f.radio_button("rating", 2, checked: false, id: "star2") %>
          <label for="star2" title="OK"></label>
          <%= f.radio_button("rating", 1, checked: false, id: "star1") %>
          <label for="star1" title="meh"></label>
        </fieldset>
        <div class="title">
          <% if current_user.role == "admin" %>
            <%= best_in_place @assignment, :question_text, :type => :input, :class => 'best_in_place', :html_attrs => { :maxlength => 255 }, :nil => "Click me to add question text" %>
          <% else %>
            <%= @assignment.question_text %>
          <% end %>
        </div>
        <%= f.text_area :question_response, :label => false, :input_html => { :rows => 5, :minlength => 300, :style => "width: 95%;"}, :placeholder => "Your response must be at least 300 characters." %>
        <p id="warning" style="color:red;"></p>
        <%= f.submit "Submit" %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>


<!-- ************************ -->
<!-- **** COLUMN RIGHT  ***** -->
<!-- ************************ -->

<% if @assignment.category == "quiz" %>
  <div class="column-right">
    <%= render "activity_feeds/sidebarindex"%>
  </div>
<% else %>
  <div class="column-right">
    <div class="col-right-top-section">
      <h3>Discussion</h3>
    </div>
    <div class="col-right-comments">
      <div id="comments_container">
        <div id="<%= @assignment.id %>">
          <%= render "user_comments/comments" %>
        </div>
      </div>
    </div><!-- col-right-comments -->
    <div class="col-right-addcomment">
      <%= render "user_comments/addsidenavcomment" %>
    </div><!-- col-right-addcomment -->
  </div><!-- column-right -->
<% end %>


<script type ="text/javascript">
$(function() {

  $("#complete-video-form").submit(function(e) {
    if ($.trim($("textarea#user_assignment_question_response").val()).length == 0)
      {
        $("#warning").text("Your Response Can't Be Empty");
        e.preventDefault();
        return  false;
      }

    else if ($.trim($("textarea#user_assignment_question_response").val()).length < 300)
      {
        $("#warning").text("Your Response Can't Be Less Than 300 Characters");
        e.preventDefault();
        return  false;
      }
    else if ($.trim($("textarea#user_assignment_question_response").val()).length > 300)
      {
      var frm = $("form#edit_user_assignment_<%= @assignment.id %>");
      jQuery.ajax(
        {
            url: frm.attr("action"),
            data: frm.serialize(),
            complete: function(){
              frm.submit();
             },
            dataType: "json"
        });
      }
    });

    // Took out textarea resize because it was hiding the submit button
    // $(document).ready(function(){
    //   $("textarea#user_assignment_question_response").autosize();
    // });

 });
</script>



