

  <%  commentableIDs = []  
    @comments = UserComment.all
  %>

  <% @comments.each do |com| %>
  <%  if com.user_id ==  current_user.id %>
    <%    commentableIDs << com.commentable_id %>
  <%  end %>
<%  end %>


<%  currentUserPosts = []  
    @posts = Post.all
  %>

 <% @posts.each do |userPost| %>
  <% if userPost.user_id ==  current_user.id %>
      <% currentUserPosts << userPost.id %>
  <% end %>
<%  end %>
<% listOfPosts = currentUserPosts + commentableIDs
    listOfPosts = listOfPosts.uniq  %> 

    

  <% if  listOfPosts.include? user_comment.commentable_id  %>
  <%  post = Post.find_by_id(user_comment.commentable_id)  %>
  <% if User.where(:id => user_comment.user_id).exists? %>
      
      <script type="text/javascript">
      // $("#Notification").removeClass("btn btn-primary");
      // $("#Notification").addClass("btn btn-success");      
      </script>  
    <div id="post">
      <% @user = User.find_by_id(user_comment.user_id) %>
      <% if @user.avatar != nil %>
        <div class="picture"><%= image_tag @user.avatar.url(:medium) %></div>
      <% end %>
      <%= link_to student_profile_path(@user) do %><div class="name"><%= @user.full_name %></div><% end %>
      <div class="timestamp"><%= post.created_at.to_date.to_formatted_s( :long_ordinal ) %></div>

      <% if post.file_file_name == nil %>
        <div class="content">
        	 commented on 
        	<%= raw Rinku.auto_link(post.content, :all, 'target="_blank"') %>
        	</div>
      <% else %>
        <div class="content">
        	commented on
  		<%= raw Rinku.auto_link(post.content, :all, 'target="_blank"') %></div>
        <div class="image"><%= image_tag post.file.url(:preview) %></div>
      <% end %>

      

    </div>
    <% end %>

    		
  <% else %>
  <% end %>


<%-# What's happening here ?
#a) user_comment is used Because the activity presenter find comment through User 
#b) since we want the Post not the comment, we use user_comment id to find the Post. -%>
