<div class="edit-form">
  <div class="network-section">
    <div class="header">Edit Your Profile</div>
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true })  do |f| %>
    <%= devise_error_messages! %>

  <div class="simple_form_section">Basic Info</div>
  <table>
    <tr>
      <td><%= f.input :first_name, label: "First Name" %></td>
      <td><%= f.input :last_name, label: "Last Name" %></td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :avatar %><br />
          <%= f.file_field :avatar %>
        </div>
      </td>
      <td><%= f.input :team, label: "Team", collection: ["Angels", "Magic", "Titans", "Phoenix", "Lightning", "Tornados", "Lanterns", "Wonders", "Blizzards"] %></td>
    </tr>
  </table>

  <%= f.input :bio, label: "Short Bio", :input_html => { :rows => 5 } %>

  <table>
    <tr>
      <div class="field">
        <%= f.label :skill_ids, "Skills" %>
        <%= f.collection_select :skill_ids, Skill.order(:name), :id, :name, {}, {multiple: true} %>
      </div>
    </tr>
  </table>



  <div class="simple_form_section">Contact Info</div>
  <table>
    <tr>
      <td> <%= f.input :street_address, label: "Street Address" %></td>
      <td> <%= f.input :city %></td>
    </tr>
    <tr>
      <td><%= f.input :state %></td>
      <td><%= f.input :country %></td>
    </tr>
  </table>

  <div class="simple_form_section">Social Networks</div>
  <table>
    <tr>
      <td><%= f.input :twitter, label: "Twitter (Handle only, no @)" %></td>
      <td><%= f.input :facebook, label: "Facebook (URL)" %></td>
    </tr>
    <tr>
      <td><%= f.input :linkedin, label: "LinkedIn (URL)" %></td>
      <td><%= f.input :gmail, label: "Gmail (Name only)" %></td>
    </tr>
    <tr>
      <td><%= f.input :skype, label: "Skype name" %></td>
      <td><%= f.input :github, label: "Github Handle" %></td>
    </tr>
    <tr>
      <td><%= f.input :instagram, label: "Instagram (Name only)" %></td>
      <td><%= f.input :dribbble, label: "Dribbble Handle" %></td>
    </tr>
  </table>

  <div class="simple_form_section">Email and Password</div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <table>
    <tr>
      <td>
        <%= f.label :email %><br />
        <%= f.email_field :email, label: "" %>
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "New Password" %> <i>leave blank if you don't want to change it</i><br />
        <%= f.password_field :password, :autocomplete => "off" %>
      </td>
      <td>
        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>
      </td>
    </tr>
  </table>
  <div class="simple_form_section">Enter Password to Save Changes</div>
  <table>
    <tr>
      <td>
        <div><%= f.label :current_password %> <i>we need your current password to confirm changes</i><br />
        <%= f.password_field :current_password %></div>
      </td>
    </tr>
  </table>
  <br />

  <%= f.submit "Update Information" %>
  <% end %>
  <br />
  <br />

</div>