<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <h1>Sign up to get started</h1>
    </div><!-- column main -->
  </div><!-- row -->
</div>


<div class="column-main">
  <div class="sign-in-container">
    
    <%= link_to '/auth/facebook' do %>
      <div class="fb-connect-btn">
        <%= image_tag "fb.png", :class => "fb-icon" %>
        <p class="fb-btn-text">
          CONNECT WITH FACEBOOK
        </p>
      </div>
    <% end %>
    <p id="or">
      OR
    </p>
    <div class="sign-in sign-up">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.input :username, required: true, label: 'USERNAME:'%>
        <%= f.input :email, label: 'EMAIL:' %>
        <%= f.input :password, label: "PASSWORD:" %>
        <%= f.input :password_confirmation, label: "PASSWORD CONFIRMATION:" %>
        <% if params["resource_id"] %>
          <input type="hidden" value="<%= params['resource_id'] %>" name="resource_id">
          <input type="hidden" value="<%= params['resource_type'] %>" name="resource_type">
        <% end %>
        <%= f.button :submit, "SIGN UP", :use_rails_ajax => false %>
      <% end %>
      
      <div class="terms-text">
        By signing up, you agree to our <%= link_to "terms and conditions", terms_path, :class => "terms-link" %> and <%= link_to "privacy policy", privacy_path, :class => "terms-link" %>
      </div>
      <div class="separator"></div>
      <div class="links">
          <span class="already-account">Already have an account?</span>
          <%= link_to "SIGN IN", new_session_path(resource_name, resource_id: params[:resource_id], resource_type: params[:resource_type]), :class => "devise-link login-link" %>
      </div>
    </div>
  </div>
</div><!-- column-main -->

<div class="column-right">
</div>

