<div class="comment child">
  <% liked = child_comment.liked_by?(@user) %>
  <div class="comment-vote-container <%= 'upvoted' if liked %>">
    <%= link_to comment_upvote_path(child_comment), remote: true, :class => "upvote-link" do %>
        <%= image_tag "upvote-arrow.svg", :class => "upvote-arrow #{liked ? 'hidden' : ''}" %>
        <%= image_tag "upvoted-arrow.svg", :class => "upvote-arrow #{liked ? '' : 'hidden'}"  %>
    <% end %>
    <p class="vote-count"><%= child_comment.get_upvotes.size %></p>
  </div>
  <%= image_tag child_comment.user.avatar_pic, :class => "comment-pic" %>
  <div class="comment-main">
    <div class="comment-header <%= 'admin-title' if child_comment.user.role == 'admin' %>">
      <div class="comment-header-left">
        <span class="comment-user"> <%= child_comment.user.username %> -&nbsp;</span><span class="user-title"><%= child_comment.user.title %></span>&nbsp;&nbsp;&nbsp; <span class="comment-date"><%= child_comment.elapsed_time %></span>  
      </div>
      <div class="comment-header-right">
        <% if child_comment.user == current_user || current_user.role == "admin" %>
          <%= link_to comment_path(child_comment), :class => "delete-child-comment-link", method: :delete, data: {confirm: "Are you sure you want to delete this comment?"}, remote: true  do %>
            <span class="delete-comment red-text">DELETE</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comment-body linkify">
      <%= child_comment.formatted_body %>
    </div>
  </div>
</div>