
<div class="top-section">
  <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
       <h1>Email Panel</h1>
      </div>
  </div><!-- row -->
</div>

<div class="column-main">
	<div>
			<%= link_to 'Weekly E-Mail', weekly_tops_path,{:'class' => 'btn btn-primary'} %>
		| <%= link_to 'Progress E-Mail', progress_report_path,{:'class' => 'btn btn-primary'} %>
			<br>
			<% @courses = Course.all %>
 			<br>

			<br><%= link_to 'Course Open', :controller => "email_panel", :action => "course_open", :course => @thiscourse %>

		<%= form_tag(course_open_path, :method => "get") do %>
			<%= select_tag "course", options_from_collection_for_select(@courses, "id", "title")%>
		  <%= submit_tag("send") %>
		<% end %>

	</div>

	<br>
	<table class="table table-striped">
		<tr>
		<td>Id</td>
		<td>Queue Name</td>
		<td>Created at</td>
		<td>Run at</td>
	</tr>
	 <%  @jobs.each do |job| %>
	<tr>
		<td><%= job.id %></td>
		<td><%= job.queue %></td>
		<td><%= time_ago_in_words(job.created_at) %></td>
		<td><%= time_tag job.run_at %></td>
	</tr>
	 <% end %>
	</table>
</div> <!-- column-main -->

