<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <h1 class="no-letter-spacing">Topics</h1>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <div class="topics">
    <% @topics.each do |topic| %>
      <% info = topic.progress_info(@user) %>
      <% completed = info[:status] == "completed" %>
      <div class='topic <%= topic.name.downcase.gsub(" ", "-").gsub("&-", "") + " " + info[:status] %>'>
        <%= link_to topic_path(topic), :class => info[:status] do %>
          <p class="topic-name"><%= topic.name %></p>
          <div class="topic-icon-container <%= 'complete' if completed %>">
            <% if completed %>
              <%= image_tag topic.done_icon, :class => "topic-icon" %>
            <% else %>
              <%= image_tag topic.icon, :class => "topic-icon" %>
            <% end %>
          </div>
          <div class="percent-complete">
            <% if completed %>
                Complete!
            <% else %>
              <%= info[:percentage] %>%
            <% end %>
          </div>
          <div class="percent-complete-bar">
            <div class="track-completion" style="width: <%= info[:percentage] %>%;"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div><!-- column-main -->
<div class="column-right">
  <%= render "activity_feeds/sidebarindex"%>
</div>



