<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <h1 class="no-letter-spacing">Courses</h1>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<% if @tutorial %>
  <%= content_for :tutorial do %>
    <div class="tutorial-overlay">
      <div class="tut-1">
        <div class="divider-left divider"></div>
        <div class="divider-right divider"></div>
        <p class="left-tut">
          These are the links to the different DTV Courses sections.
          <br><br>
          You can take courses on your own or participate in our monthly and biweekly streams.
        </p>
        <p class="mid-tut">
          Navigate through courses and lessons in this middle column.
        </p>
        <p class="right-tut">
          Look here to find out more info on courses and lessons.
        </p>
        <div class="next-tut-container">
          <%= image_tag "check.svg", :class => "tut-check" %>
        </div>
      </div>
      <div class="tut-2">
        <div class="divider-left divider"></div>
        <div class="divider-right divider"></div>
        <p class="left-tut">
          These are the links to the different DTV Courses sections.
          <br><br>
          You can take courses on your own or participate in our monthly and biweekly streams.
        </p>
        <p class="mid-tut">
          Navigate through courses and lessons in this middle column.
        </p>
        <p class="right-tut">
          Look here to find out more info on courses and lessons.
        </p>     
        <%= link_to root_path do %>
        <div class="next-tut-container">
          <%= image_tag "check.svg", :class => "tut-check" %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="column-main">
  <div class="topics">
    <% @topics.each do |topic| %>
      <% info = topic.progress_info(@user) %>
      <% completed = info[:status] == "completed" %>
      <div class='topic <%= topic.name.downcase.gsub(" ", "-").gsub("&-", "") + " " + info[:status] %>'>
        <% if topic.free %>
          <%= image_tag "freecourse.svg", :class => "free-icon" %>
        <% end %>
        <%= link_to topic_path(topic), :class => info[:status] do %>
          <p class="topic-name"><%= topic.name %></p>
          <div class="topic-icon-container <%= 'complete' if completed %>">
            <% if completed %>
              <%= image_tag topic.done_icon, :class => "topic-icon" %>
            <% else %>
              <%= image_tag topic.icon, :class => "topic-icon" %>
            <% end %>
          </div>
          <div class="percent-complete">
            <% if completed %>
                Complete!
            <% else %>
              <%= info[:percentage] %>%
            <% end %>
          </div>
          <div class="percent-complete-bar">
            <div class="track-completion" style="width: <%= info[:percentage] %>%;"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%= content_for :column_right do %>
  <div class="chat-header">
    <p>INFORMATION</p>
  </div>
  
  <div class="welcome-container">
    <div class="welcome-messages">
      <iframe src="https://player.vimeo.com/video/135921663" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <% if !current_user %>
        <p class="welcome-message title">Welcome to DraperTV Courses!</p>
        <p class="welcome-message">We’ve given you the Attitude course for <span class="red-text">free</span>. You can also watch and participate in the Live Learning lessons we host every two weeks.</p>
        <p class="welcome-message">To check out the other courses or watch archived Live Learning lessons, you’ll need to sign up and purchase a membership.</p>
        <%= link_to new_user_registration_path do %>
          <div class="get-started">
            GET STARTED
          </div>
        <% end %>
      <% else %>
        <p class="course-description">Learn how to build a startup with DraperTV Courses. We bring the magic of Silicon Valley and Draper University education online to accelerate your ideas, businesses, and products.</p>
      <% end %>
    </div>
  </div>
  
  <% if current_user %>

      <div class="announcements">
        <% if !Announcement.today.empty? %>
          <p class="announcements-header">
            ANNOUNCEMENTS
          </p>

          <p class="announcement-date">
            Posted <%= Announcement.date_today %>
          </p>

          <% @announcements.each do |an| %>
            <div class="announcement">
              <div class="bullet"></div>
              <div class="announcement-body">
                <%= an.body %>
              </div>
            </div>
            <% if current_user.role == "admin" %>
              <div class="announcement-actions">
                <%= link_to announcement_path(an), :class => "an-action red-text", method: "delete" do %>
                  DELETE
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.role == "admin" %>
          <div class="announcement-actions bottom">
            <%= link_to announcements_path, :class => "an-action blue-text" do %>
              ARCHIVE
            <% end %>
            <%= link_to hide_announcements_path, :class => "an-action" do %>
              HIDE
            <% end %>
          </div>
          <%= form_for Announcement.new, id: "payment-form" do |f| %>
            <div class="form-row">
              <%= f.text_field :body, :class => "payment-input" %>
            </div>
            <button type="submit" class="checkout">POST</button>
          <% end %> 
        <% end %>
      </div>
  <% end %>
<% end %>


<% if current_user && (!current_user.username || !current_user.full_name) %>
  <div class="page-overlay">
    <div class="user-info-modal edit-form">
      <%= form_for(@user) do |f| %>
          <p>We’re changing things up to have you have user names now!</p>

          <% if !current_user.full_name%>
            <p>Please also enter your full names so that Support can better assist you with any issues.</p>
            <div class="form-row">
              <div class="form-field">
                <%= f.label :full_name, "FULL NAME"%>
                <%= f.text_field :full_name, required: true, placeholder: "Enter name..." %>
              </div>
            </div>
          <% end %>
          <div class="form-row">
              <div class="form-field">
                <%= f.label :username, "USERNAME" %>
                <%= f.text_field :username, required: true, placeholder: "Enter name..." %>
            </div>
          </div>
        <div class="actions">
          <%= f.submit "SUBMIT" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>




