<div class="top-section <%= @topic.name.downcase.gsub(" ", "-").gsub("&-", "") %>">
  <div class="row">
    <div class="top-column-main">
      <%= link_to topics_path do %>
        <p class="header-back"><< COURSES</p>
      <% end %>
      <h1><%= @topic.name.downcase.split(" ").map(&:capitalize).join(" ") %></h1>
      <p class="header-info"><%= @tracks.count %> CHAPTERS</p>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main <%= @topic.html_class_name %>">
  <div class="tracks">
    <% counter = 0 %>
    <% @tracks.order(:order).each do |track| %>
      <% counter += 1 %>
      <% info = track.progress_info(current_user) %>
      <%= link_to track_path(track) do %>
        <div class="track <%= track.status current_user %>">
          <div class="track-info">       
            <%= image_tag track.started_icon, :class => "track-icon" %>
            <div class="track-name">
              <span>
                CHAPTER <%= counter %>:
              </span>
              <%= track.name %>
            </div>
          </div>          
          <div class="track-status">
            <% if info[:percentage] == 0 %>
              <div class="start-lesson-btn">
                Start Chapter
              </div>
            <% else %>
              <div class="track-percent-complete">
                <% if info[:status] == "completed" %>
                  Complete!
                <% else %>
                  <%= track.progress_percentage current_user %>%
                <% end %>
              </div>
              <div class="track-percent-complete-bar">
                <div class="track-completion" style="width: <%= info[:percentage] %>%;">  
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="track-body">
      <% if @topic.body %>
        <%= @topic.body.html_safe %>
      <% end %>
    </div>
  </div>
  <div class="participants">
    <p class="participants-header">
      STUDIED BY:
    </p>
    <div class="participants-list">
      <% @participants[0..10].each do |user| %>
        <%= image_tag user.avatar.url, :class => "participant" %>
      <% end %>
      <% if @participants.length > 11 %>
        <div class="more-participants participant">
         <%=  @participants.length - 11 %>+
        </div>
      <% end %>
    </div>
  </div>
</div><!-- column-main -->
<%= content_for :column_right do %>
  <div class="chat-header">
    <p>INFORMATION</p>
  </div>

  <div class="column-body">

    <%= image_tag @topic.done_icon, :class => "topic-info-icon" %>

    <p class="topic-description">
      As an entrepreneur you gotta do stuff that people need you to do. And that takes Vision. Vision to see the stuff that you gotta do. So you can show people the stuff they gotta do. And that takes Vision.
    </p>
  </div>

<% end %>


