<div class="top-section <%= @topic.name.downcase.gsub(" ", "-").gsub("&-", "") %>">
  <div class="row">
    <div class="top-column-main">
      <%= link_to topics_path do %>
        <p class="header-back"><< TOPICS</p>
      <% end %>
      <h1><%= @topic.name.downcase.split(" ").map(&:capitalize).join(" ") %></h1>
      <p class="header-info"><%= @tracks.count %> LESSONS</p>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main <%= @topic.html_class_name %>">
  <div class="tracks">
    <% @tracks.order(:order).each do |track| %>
      <% info = track.progress_info(current_user) %>
      <%= link_to track_path(track) do %>
        <div class="track <%= track.status current_user %>">
          <div class="track-info">
            <div class="track-icon-container">           
              <%= image_tag track.started_icon, :class => "track-icon" %>
            </div>
            <div class="track-name"><%= track.name %></div>
          </div>          
          <div class="track-status">
            <% if info[:percentage] == 0 %>
              <div class="start-lesson-btn">
                Start Lesson
              </div>
            <% else %>
              <div class="track-percent-complete">
                <% if info[:status] == "completed" %>
                  Complete!
                <% else %>
                  <%= track.progress_percentage current_user %>%
                <% end %>
              </div>
              <div class="track-percent-complete-bar">
                <div class="track-completion" style="width: <%= info[:percentage] %>%;">  
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="track-body">
      <%= @topic.body.html_safe %>
    </div>
  </div>
</div><!-- column-main -->
<%= content_for :column_right do %>
  <div class="chat-header">
    <p>INFORMATION</p>
  </div>

  <div class="column-body">

    <%= image_tag @topic.done_icon, :class => "topic-info-icon" %>

    <p class="topic-description">
      As an entrepreneur you gotta do stuff that people need you to do. And that takes Vision. Vision to see the stuff that you gotta do. So you can show people the stuff they gotta do. And that takes Vision.
    </p>
  </div>

<% end %>


