<div class="edit-form">
  <%= form_for(@user) do |f| %>
   <div class="form-header">BASIC INFO</div>
      <div class="form-row">
        <div class="form-field">
          <%= f.label :first_name, "FIRST NAME" %>
          <%= f.text_field :first_name %>
        </div> 
        <div class="form-field">
          <%= f.label :last_name, "LAST NAME" %>
          <%= f.text_field :last_name %>
        </div>        
      </div>
      <div class="form-row">
          <div class="form-field">
            <%= f.label :avatar, "AVATAR" %>
            <%= f.file_field :avatar, label: "Avatar" %>
          </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <%= f.label :email, "EMAIL ADDRESS" %>
          <%= f.text_field :email %>
        </div>
      </div>
    <div class="actions">
      <%= f.submit "SAVE INFO" %>
    </div>
  <% end %>
  
  <% if current_user.customer_id %>
  <div class="cancel-sub">
    Cancel Subscription
  </div>
  <% end %>
</div>

<div class="cancel-overlay">
  <div class="cancel-container">
    <p class="cancel-message">We're sorry to see you go!</p>
    <p class="cancel-text">
      If you change your mind we’ll still be here! Drop by again for access to new and updated AMA’s, How To’s, videos, and lessons.
    </p>
    <p class="cancel-message">Are you sure you want to leave us?</p>
    <%= link_to root_path do %>
      <div class="modal-btn red">
        TAKE ME HOME
      </div>
    <% end %>
    <%= link_to destroy_charge_path, :class => "cancel-sub-link", remote: true do %>
      <div class="modal-btn blue">
        END SUBSCRIPTION
      </div>
    <% end %>
  </div>

</div>
