<div class="edit-form">
  <%= form_for(@user) do |f| %>
   <div class="form-header">BASIC INFO</div>
      <div class="form-row">
        <div class="form-field">
          <%= f.label :first_name, "FIRST NAME" %>
          <%= f.text_field :first_name %>
        </div> 
        <div class="form-field">
          <%= f.label :last_name, "LAST NAME" %>
          <%= f.text_field :last_name %>
        </div>        
      </div>
      <div class="form-row">
          <div class="form-field">
            <%= f.label :avatar, "AVATAR" %>
            <%= f.file_field :avatar, label: "Avatar" %>
          </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <%= f.label :email, "EMAIL ADDRESS" %>
          <%= f.text_field :email %>
        </div>
      </div>
    <div class="actions">
      <%= f.submit "SAVE INFO" %>
    </div>
  <% end %>
</div>
