<%= link_to(student_profile_path(user)) do %>
	<li class="student-tile">
		<div class="image">
			<%= image_tag user.avatar.url(:large) %>
			<% if user.pcounter != nil %>
				<% if user.role == 'online' || user.role == 'boarding' %>
					<div class="score"><%= user.pcounter %></div>
				<% end %>
			<% else %>
			<% end %>
		</div>
		<div class="name"><%= user.full_name %></div>
		<div class="program-info"><%= user.team  %></div>
		<div class="location"><%= user.country %></div>
	</li>
<% end %>

