<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <h1>Students & Network</h1>
        <!-- ***** CREATE POST BUTTON ***** -->
        <div class="button-right">
          <a id="show-filters"><h4>Filters</h4></a>

          <div id="user-search-form">
            <%= search_form_for @q do |f| %>

                <div class="filter">
                  <%= f.text_field :last_name_or_first_name_or_country_cont, :placeholder => "Name, Country, Team" %>
                </div>
                <div class="filter">
                  <%= f.label :program_type_cont, 'Program Type' %>
                  <%= f.select :role_cont, ['boarding', 'online'], include_blank: true %>
                </div>

                <div class="filter">
                  <%= f.label :team_cont, 'Team' %>
                  <%= f.select :team_cont, ['Angels', 'Magic', 'Tornadoes', 'Phoenix', 'Wonders', 'Blizzards', 'Lightning', 'Titans', 'Lanterns'], include_blank: true %>
                </div>

                <div class="filter">
                  <%= f.label :s, 'Sort by' %>
                  <%= f.collection_select :s, User::SORT_FIELDS.to_a, :first, :last, selected: users_sort_value, include_blank: false %>
                </div>
                <div class="filter">
                  <%= f.submit 'Filter', :id => "filter-submit" %>
                </div>

                <% end %>

          </div><!-- user-search-form -->
        </div>
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>



<div class="row" style="height: 100%;">

   <div class="column-main" style="margin-top: 97px;">
    <div id="alumni-container">
      <ul id="users" style="margin:0;">
        <%= render @users %>
      </ul><!-- users -->
      <br/>
    </div><!-- alumni-container -->
  </div><!-- column-main -->
    <%= paginate @users %>


  <div class="column-right">
    <%= render '/users/leaderboard' %>
  </div><!-- column-right -->

</div><!-- row -->


<script type="text/javascript">
  $('#show-filters').click(function(){
    $('#user-search-form').toggle('5000', 'easeOutCirc', function() {});
    //$('#users').toggleClass('active', [3000]);
    return false;
  });
</script>