<ul class="breadcrumb">
  <li><%= link_to 'All Skills', skills_path %> <span class="divider">/</span></li>
  <li><%= @skill.name %></li>
</ul>

<h2><%= @skill.name %></h2>
<% @skill.users.each do |user| %>
  <div id="network-user-container">
    <%= link_to(student_profile_path(user)) do %>
      <div id="avatar"><%= image_tag user.avatar.url(:medium) %></div>
      <div class="info">
        <h3 id="name"><%= user.first_name %> <%= user.last_name %></h3>
        <% if user.employment == "Employed" %>
          <div class ="type">Employed</div>
        <% elsif user.employment == "Job Hunting" %>
          <div class ="type teal">Job Hunting</div>
        <% else %>
        <% end %>
        <div id ="profile_links">
          <i class="fa fa-location-arrow icon-muted" style="padding-left: 0; font-size: 13px;"></i><span> <%= user.country %></span>
          <i class="fa fa-leaf icon-muted" style="font-size: 12px;"></i><span> <%= user.program %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>