<%= simple_form_for(@app) do |f| %>

<!-- ************************** -->
<!-- start basic info questions -->
<!-- ************************** -->

<div class="section">Basic Information</div>
<table>
  <tr>
    <td><%= f.input :first, required: true %></td>
    <td><%= f.input :last, required: true %></td>
  </tr>
  <tr>
    <td><%= f.input :email, required: true %></td>
    <td><%= f.input :phone, required: true %></td>
  </tr>
  <tr>
    <td><%= f.input :dob, label: "Date of Birth" %></td>
    <td><%= f.input :college, label: "College Attended" %>
  </tr>
  <tr>
     <td><%= f.input :marketing, placeholder: "Please be specific, e.g. 'Saw Bloomberg TV interview'", label: "How did you hear about Draper U?" %></td>
    <td style="margin:0;">
      <label class="string optional control-label">Gender</label><br/>
      <%= f.select :gender, ["Female","Male"] %><br/><br/>
    </td>
  </tr>
  <tr>
    <td style="margin:0;">
      <label class="string optional control-label">Which option best describes your technical skill set?</label><br/>
      <%= f.select :technical, ["I'm a developer","I know some HTML","Not technical, but interested in learning", "Not my cup of tea"] %><br/><br/>
    </td>
    <td></td>
  </tr>
</table>
<br />
<br />

<!-- **************************** -->
<!-- start contact info questions -->
<!-- **************************** -->

<div class="section">Contact Information</div>
<table>
  <tr>
    <td><%= f.input :street_address, label: "Street Address", required: true %></td>
    <td><%= f.input :city, label: "City", required: true %></td>
  </tr>
  <tr>
    <td><%= f.input :postal_code, label: "Postal Code", required: true %></td>
    <td><%= f.input :state, label: "State", required: true %></td>
  </tr>
  <tr>
    <td><%= f.input :country, label: "Country", required: true %><br /></td>
    <td></td>
  </tr>
  <tr></tr>
</table>
<br />
<br />

<!-- *************************** -->
<!-- start application questions -->
<!-- *************************** -->

<div class="section">Application Questions</div>
  <%= f.input :exist, label: "Why do you exist?", required: true, :input_html => { :rows => 15 } %>
  <%= f.input :business, label: "What is your business idea?", :input_html => { :rows => 15 } %>
  
<table>
  <tr>
    <td>
      <%= f.input :media, label: "Draw us a picture, sing us a song, or make us a movie", placeholder: "URL to Document, Dropbox, Vimeo, Youtube, etc.", input_html: { class: 'special' } %>
    </td>
    <td>
      <label class="string optional control-label">Upload Headshot</label>
      <!--<%= f.file_field :photo, required: true %>-->
    </td>
  </tr>
</table>

  <%= f.submit "Submit Application" %>

<% end %>