<div id="home-top-container">
  <div id="home-top">
    <div class="left">
      <h1 class="no-bottom-padding">Draper University</h1>
      <div class="uppercase-blue" style="padding-top: 15px;">online</div>
      <div class="video-responsive-container" id="video-container-one">
        <iframe src="//player.vimeo.com/video/73537598" id="home-video-small-media" class="padding-top-5" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="sans-serif-small padding-top-40 padding-bottom-10"><b>Lecturers include:</b></div>
      <div class="sans-serif-body padding-bottom-10" style="color: #333;">
        <b>Tim Draper</b> Founder, DFJ & Draper University<br />
        <b>Bill Draper</b> Founder, Sutter Hill Ventures<br />
        <b>Elon Musk</b> Founder & CEO, Tesla & SpaceX<br />
        <b>Tony Hsieh</b> Founder & CEO, Zappos.com<br />
        <b>Tina Seelig</b> Executive Director, Stanford STVP<br />
        <b>Steve Jurvetson</b> Managing Director, DFJ<br />
      </div><br />
      <div class="sans-serif-small-blue padding-bottom-80" id="home-top-left-bottom-padding">
      </div>

    </div>
   <div class="right">
      <br />
      <div class="video-responsive-container" id="video-container-two">
        <iframe src="//player.vimeo.com/video/73537598" id="home-video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
  <!-- ******************************** -->
  <!-- ***** DATES AND APPLY BAR ****** -->
  <!-- ******************************** -->

  <div class="home-grey-section">
    <div class="wrapper">
      <div class="float-left">
        <div class="sans-serif-small-blue"><b>Winter Session</b></div>
        <div class="serif-large padding-top-5">January 20, 2014 - March 7, 2014</div>
      </div>
      <div class="float-left" style="margin-left: 110px;" id="home-application-deadline">
        <div class="sans-serif-small-blue"><b>Application Deadline</b></div>
        <div class="serif-large padding-top-5">January 6, 2014</div>
      </div>
      <a href="/apply" class="home-button" id="home-apply-button-top" style="float: right; margin-right: 80px;">Apply For Winter</a>
    </div>
  </div>

  <!-- ******************************** -->
  <!-- ***** COURSE DESCRIPTION ******* -->
  <!-- ******************************** -->

  <div class="home-wrapper padding-top-40">
    <div class="serif-large padding-top-40">Course Description</div><br />
    <div class="sans-serif-body padding-top-5 padding-bottom-40">
      Draper University Online combines startup fundamentals, creative free thinking and the practical real world knowledge to turn something into reality. More than just an online class, the online program is community-based, interactive and tailored specifically to entrepreneurs who need the flexibility to work on their own time. The program was created by Tim Draper to empower anyone, anywhere access to the groundbreaking entrepreneurial curriculum that was created for Draper University’s boarding school program.
      <br /><br />
      The Online Program runs in tandem with the Boarding School Program. The online program includes access to the best Draper University speakers, and individual assignments and teamwork projects to push your imagination and limits. Online students also interact with boarding school students on various projects throughout the 7 week session. Each session culminates with the opportunity to pitch to a panel of investors virtually.
      <br /> <br />
      The Draper University community is an invaluable network of individuals who think differently and push each other to achieve great things. Get the Silicon Valley experience - online!
    </div>
  </div>
  <div id="line"></div>


  <!-- ******************************** -->
  <!-- ***** COURSE INFORMATION ******* -->
  <!-- ******************************** -->

  <div class="home-wrapper padding-top-40">
    <!-- ***** LEFT PANEL ******* -->
    <div class="split-left padding-top-40">
      <div class="serif-large">Curriculum</div><br />
      <div class="sans-serif-body padding-top-5 padding-bottom-80">
       Courses offered to online school students are identical to those offered to students of the boarding school program. Courses cover business basics and start up strategies but do so by using experiential methods unique to Draper University.
       <br /><br />
       Our core curriculum can be found here and includes some of the following topics:
       <br /><br />
       Media Training, Negotiations, Predictive Analytics, Various Topics in Finance, Lean Startups, Creativity Crash Course, Special CEO & Founder Series Talks, Design Thinking, Innovation, Branding, Networking, Sales Training, Manufacturing, Fundraising and Venture Capital.
      </div>

      <!-- **** Pitch to VCs *** -->
      <div class="serif-large">Pitch to Venture Capitalists</div><br />
      <div class="sans-serif-body padding-top-5 padding-bottom-80">
        In addition to the feedback you will receive from your classmates, at the end of the program you will have the opportunity to upload a 2-minute pitch video to be reviewed by a panel of well-known Venture Capitalists. Top pitches will also be screened at our pitch competition here in Silicon Valley.
      </div>
      <!-- **** Degree *** -->
     <!--  <div class="serif-large">Earn Your CAO Degree</div><br />
      <div class="sans-serif-body padding-top-5 padding-bottom-80">
        Loremipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </div> -->
      <!-- **** Tuition *** -->
      <div class="serif-large">Tuition</div><br />
      <div class="sans-serif-body padding-top-5 padding-bottom-80">
        Tuition for the program is $850 and scholarships are offered. Please visit our scholarship page for additional information.
      </div>
      <!-- **** Tuition *** -->

      <div class="sans-serif-body padding-top-5 padding-bottom-80">
        For more information about Draper Univerity:<br/><br/>
        <ul>
          <li><a href="http://draperuniversity.com/about/press/">Press Page</a></li>
          <li><a href="http://draperuniversity.com/latest/">Draper University Blog</a></li>
          <li><a href="http://draperuniversity.com/about/events/">Events</a></li>
          <li><a href="http://draperuniversity.com/about/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <!-- ***** RIGHT PANEL ******* -->
    <!-- ***** lecturers ******* -->
    <div class="split-right padding-top-40">
      <div class="serif-small">Lecturers</div><br />
      <div class="lecturer-row">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/tim_draper.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Tim Draper</div>
          <div class="about">Founder, Draper Fisher Jurvetson</div>
        </div>
      </div>
      <div class="lecturer-row">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/small-bill-draper.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Bill Draper</div>
          <div class="about">Founder, Sutter Hill Ventures</div>
        </div>
      </div>
      <div class="lecturer-row">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/elon_musk.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Elon Musk</div>
          <div class="about">Founder & CEO, Tesla & SpaceX</div>
        </div>
      </div>
      <div class="lecturer-row">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/tony_hsieh.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Tony Hsieh</div>
          <div class="about">Founder & CEO, Zappos.com</div>
        </div>
      </div>
      <div class="lecturer-row">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/tina_seelig.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Tina Seelig</div>
          <div class="about">Executive Director, Stanford STVP</div>
        </div>
      </div>
      <div class="lecturer-row" style="margin-bottom: 40px;">
        <div class="speaker-pic">
          <%= image_tag "home/lecturers/steve_jurvetson.jpg" %>
        </div>
         <div class="speaker-info">
          <div class="name">Steve Jurvetson</div>
          <div class="about">Managing Director, Draper Fisher Jurvetson</div>
        </div>
      </div>
      <!-- ***** expectation ******* -->
      <div class="serif-small">Expectations</div><br />
      <div class="sans-serif-small" style="color: #666;">
        <ul>
          <li>Be prepared to commit at least 20 hours per week</li>
          <li>Know how to upload a video to YouTube or Vimeo</li>
          <li>Be familiar with Skype and Google Hangouts</li>
          <li>Lots of enthusiasm!</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ******************************** -->
  <!-- ***** DATES AND APPLY BAR ****** -->
  <!-- ******************************** -->

  <div class="home-grey-section" id="home-student-testimonials">
    <div class="wrapper">
      <div class="testimonial-row">
        <div class="student-pic"> <%= image_tag "home/lecturers/alicia-dixon.jpg" %></div>
        <div class="student-info">
          <div class="quote">Several times throughout the program I’ve felt this sense of rediscovery of wonderment that I felt as a kid - these are thoughts and feelings that have long been supressed in my professional adult life.  I’m not talking about immatury or ignorance.  What I mean is that feeling that anything is possible and if you can imagine it then it must be real.  It is greatly liberating.</div>
          <div class="name">- Alicia Dixon, Fall 2013</div>
        </div>
      </div>
      <div class="testimonial-row">
        <div class="student-pic"> <%= image_tag "home/lecturers/megan-jones.jpg" %></div>
        <div class="student-info">
          <div class="quote">Mixing a little inspiration with a lot of roadmap to success, Draper University Online was an invaluable step in building my long term and sustainable company.</div>
          <div class="name">- Megan Jones, Fall 2013</div>
        </div>
      </div>
    </div>
  </div>

  <!-- ******************************** -->
  <!-- ***** NETWORK / APPLY NOW ****** -->
  <!-- ******************************** -->

  <div class="home-wrapper padding-top-40">
    <div class="split-left padding-top-40">
      <div class="serif-large">A Lifelong Network</div><br />
      <div class="sans-serif-body padding-top-5 padding-bottom-40">
        Upon completion of the online program, students will join the Draper University Alumni Network and gain access to Alumni Events and additional speaker videos for continued networking and learning.
      </div>
    </div>
    <div class="split-right" style="margin-top: 110px;">
      <a href="/apply" class="home-button" id="home-apply-button-bottom" style="margin-left: 80px;">Apply Now</a>
    </div>
  </div>

<!-- ******************************* -->
<!-- ***** TRACKING FOR FB AD ****** -->
<!-- ******************************* -->

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6009982432893';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009982432893&amp;value=0&amp;currency=USD" /></noscript>

