<ul class="breadcrumb">
  <li><%= link_to 'Videos', videos_path %> <span class="divider">/</span></li>
  <li><%= @video.title %></li>
</ul>
<!-- split panel if speaker info available -->
<div class="span9" id="assignment_container">
  <h1><%= raw @video.title %></h1>
  <% if @video.category == "reading" or @video.category == "video" or @video.category == "founder" %>
    <br/>
    <%= raw @video_vimeo_embed %>
    <br /><br />
    <!-- <p class="video_description"><%= raw @video.description %></p> -->
    <div id="comments-bar">discussion</div>
    <div id="comments_container">
      <div id="<%= @video.id %>">
        <%= render "user_comments/comments" %>
      </div>
    </div>
    <%= render "user_comments/addcomment" %>
  <% else %>
  <% end %>
</div> <!-- end span9 -->

<% if @video.category == "video" or @video.category == "founder" %>
  <div class="span3" id="speaker_container">
    <% if @video.speaker_pic and @video.speaker_name %>
      <% if @video.category == "reading" or @video.category == "quiz" %>
        <div class="header">Info</div>
        <%= image_tag(@video.speaker_pic(:large), :class => "book_image") %>
      <% else %>
        <div class="header">Speaker Bio</div>
        <%= image_tag(@video.speaker_pic(:large), :class => "image") %>
      <% end %>
      <div class="name"><%= @video.speaker_name %></div>
      <div class="description"><%= @video.speaker_bio %></div>
    <% end %>
  </div>
<% else %>
<% end %>