<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block;">
        <h1>Calendar</h1>
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>


<div class="column-main">
  <div class="events-container">
    <div class="event-calendar">
      <%= calendar @events, :start_day => :sunday do |event| %>
        <% if event.url %>
          <%= link_to event.name, event.url , :class => "#{event.color}-text event-item" %>
        <% else %>
          <p class="<%= event.color %>-text event-item"><%= event.name %></p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= content_for :column_right do %>
    <div class="chat-header">
      <p>INFORMATION</p>
    </div>
     <div class="column-body">
      <p class="events-info">
        Check here for interesting events related to the Draper Ecosystem, DTV, or other interesting 3rd party events.
      </p>
      <div class="event-colors">
        <p>COLOR CODE:</p>
        <p class="red-text">DraperTV Events</p>
        <p class="blue-text">Draper Ecosystem</p>
        <p>3rd Party Events</p>
      </div>
    </div>
<% end %>


