<%= subscribe_to "/layouts/events" %>

<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <h1><%= @event.name %></h1>

        <% if @event.user_id == current_user.id %>
          <div class="button-right" style="right: 70px;">
            <%= link_to edit_event_path(@event) do %>
              <div class="circle-button"><i class="fa fa-pencil"></i></div>
            <% end %>
          </div>
          <div class="button-right">
            <%= link_to [@event], :confirm => 'Are you sure you want to remove this event? This cannot be undone.', :action => "destroy", :method => :delete do %>
              <div class="circle-button"><i class="fa fa-trash-o"></i></div>
            <% end %>
          </div>
        <% else %>
        <% end %>
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <% if User.where(:id => @event.user_id).exists? %>
    <div id="event-show">
      <div class="back"><%= link_to 'Back to Events', events_path %></div>
      <table id="event-table">
        <tr>
          <td class="icon"><i class="fa fa-bookmark"></i></td>
          <td>
            <% if @event.user_id %>
              Created by
              <%= link_to(student_profile_path(User.find_by_id(@event.user_id))) do %>
                <%= User.find_by_id(@event.user_id).full_name %>
              <% end %>
            <% else %>
            <% end %>
          </td>
        </tr>
         <tr>
          <td class="icon"><i class="fa fa-calendar-o"></i></td>
          <td><%= @event.start_time.strftime("%A, %B %e") %> at <%= @event.start_time.strftime("%I:%M %p") %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fa fa-location-arrow"></i></td>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fa fa-align-justify"></i></td>
          <td><% if @event.description != nil %><%= @event.description.html_safe %><% end %></td>
        </tr>
      </table>

      <div>
        <div id="comments-bar">discussion</div>
        <div id="comments_container">
          <div id="<%= @event.id %>">
            <%= render "user_comments/comments" %>
          </div>
        </div>
        <%= render "user_comments/addcomment" %>
      </div>
    </div>
  <% end %>
</div><!-- column-main -->

<div class="column-right">
  <%= render "activity_feeds/sidebarindex"%>
</div>
