<%= content_for :side_nav do %>
  <% @tracks.each_with_index do |track, i| %>
    <div class="bar-group">
      <div class="bar-header">
        <%= link_to track_path(track) do %>
          Module <%= i + 1 %> - <%= track.name %>
        <% end %>
      </div>
      <% track.lessons.order(:order).each do |lesson| %>
        <div class="bar-item <%= 'current' if lesson == @lesson %>">
          <%= link_to lesson_path(lesson) do %>
            <%= image_tag lesson.icon(lesson == @lesson ? nil : "grey"), :class => "bar-icon" %>
            <p class="bar-text">
              <%= lesson.lesson_type.capitalize %><% if lesson == @lesson %>&nbsp;- <%= lesson.description %><% end %>
            </p>
            <%= image_tag lesson.status_icon(current_user), :class => "bar-circle" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <%= link_to track_path(@track) do %>
        <p class="header-back"><< LESSONS</p>
      <% end %>
      <h1 class="no-letter-spacing"><%= @lesson.lesson_type.capitalize.downcase.split(" ").map(&:capitalize).join(" ")  %></h1>

      <% if @lesson.completed?(current_user) %>
        <p class="header-info complete-btn">COMPLETED</p>
      <% else %>
        <%= form_for Progress.new do |f| %>
          <%= f.hidden_field :model_id, value: @lesson.id %>
          <%= f.submit "COMPLETE & CONTINUE", :class => "header-info complete-btn" %>
        <% end %>
      <% end %>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <div class="lesson-container">
    <% if @lesson.video %>
      <iframe src="https://player.vimeo.com/video/48181711" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

      <p class="video-title">
        <%= @lesson.video_title %>
      </p>
      <p class="video-author">
        <%= @lesson.video_author %>
      </p>
    <% end %>

    <% if @lesson.body %>
      <div class="lesson-body">
        <%= @lesson.body.html_safe %>
      </div>
    <% end %>

    <% if @lesson.discussion %>
      <%= form_for @comment do |f| %>
        <%= f.text_area :body, :class => "comment-body", placeholder: "Leave a comment here..." %>
        <%= f.hidden_field :lesson_id, value: @lesson.id %>
        <%= f.submit "Submit", :class => "submit-comment" %>
      <% end %>

      <div class="comments">
        <% @lesson.comments.includes(:user).each do |comment| %>
          <div class="comment collapsed">
            <%= image_tag 'discussionexpand.svg', :class => 'comment-open comment-action' %>
            <%= image_tag 'discussioncontract.svg', :class => 'comment-close comment-action hidden' %>
            <span class="comment-text-vote"><%= comment.get_upvotes.size %> points</span>
            <div class="comment-vote-container hidden">
              <%= link_to comment_upvote_path(comment) do %>
                <%= image_tag "upvote-arrow.svg", :class => "upvote-arrow" %>
              <% end %>
              <p class="vote-count"><%= comment.get_upvotes.size %></p>
            </div>
            <%= image_tag current_user.avatar.url, :class => "comment-pic hidden" %>
            <div class="comment-main">
              <div class="comment-header">
                <span class="comment-user"> <%= comment.user.full_name %> -&nbsp;</span><span class="user-title"><%= comment.user.title %></span>&nbsp;&nbsp;&nbsp; <span class="comment-date"><%= comment.created_at %></span> 
              </div>
              <div class="comment-body hidden">
                <%= comment.body %>
              </div>
            </div>
          </div>
          <div class="comment-children hidden">
                <% comment.children.includes(:user).each do |child_comment| %>
                   <div class="comment child">
                      <div class="comment-vote-container">
                        <%= link_to comment_upvote_path(child_comment) do %>
                          <%= image_tag "upvote-arrow.svg", :class => "upvote-arrow" %>
                        <% end %>
                        <p class="vote-count"><%= child_comment.get_upvotes.size %></p>
                      </div>
                      <%= image_tag current_user.avatar.url, :class => "comment-pic" %>
                      <div class="comment-main">
                        <div class="comment-header">
                          <span class="comment-user"> <%= child_comment.user.full_name %> -&nbsp;</span><span class="user-title"><%= child_comment.user.title %></span>&nbsp;&nbsp;&nbsp; <span class="comment-date"><%= child_comment.created_at %></span> 
                        </div>
                        <div class="comment-text">
                          <%= child_comment.body %>
                        </div>
                      </div>
                    </div>
                <% end %>
                <%= form_for Comment.new do |f| %>
                  <%= image_tag current_user.avatar.url, :class => "comment-pic" %>
                  <%= f.text_area :body, :class => "comment-body", placeholder: "Ask a question..." %>
                  <%= f.hidden_field :lesson_id, value: @lesson.id %>
                  <%= f.hidden_field :parent_id, value: comment.id %>
                  <%= f.submit "Submit", :class => "submit-comment hidden" %>
                <% end %>
              </div>
        <% end %>
      </div>

    <% end %>
  </div>


</div><!-- column-main -->
<div class="column-right">
  <%= render "activity_feeds/sidebarindex"%>
</div>