<% if @lesson.lesson_type != "tools" %>
  <%= content_for :side_nav do %>
    <div class="lessons-nav">
      <% @tracks.order(:order).each_with_index do |track, i| %>
        <div class="bar-group">
          <div class="bar-header">
            <%= link_to track_path(track) do %>
              Chapter <%= i + 1 %> - <%= track.name.downcase.split.map(&:capitalize)*' ' %>
            <% end %>
          </div>
          <% counter = 0 %>
          <% track.type_sorted_lessons.flatten.each_with_index do |lesson, i| %>
            <% next if !lesson || lesson == "tools" %>
            <% if lesson.class == String %>
              <div class="bar-item type-header">
                <%= image_tag "lesson_type_icons/#{lesson}.svg", :class => "bar-icon" %>
                <p class="bar-text <%= lesson %>"><%= lesson.upcase %></p>
                <div></div>
                <% counter = 0 %>
              </div>
            <% else %>
              <% counter += 1 %>
              <% if lesson.lesson_type != "tools" %>
                <div class="bar-item <%= 'current' if lesson == @lesson %>">
                  <%= link_to lesson_path(lesson) do %>
                    <%= image_tag lesson.status_icon(current_user), :class => "bar-circle" %>
                    <p class="bar-text">
                      <%= lesson.full_info counter %>
                    </p>
                    <div></div>  
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="top-section <%= @lesson.lesson_type.downcase %>">
  <div class="row">
    <div class="top-column-main">
      <%= link_to track_path(@track) do %>
        <p class="header-back"><< LESSONS</p>
      <% end %>
      <h1 class="no-letter-spacing"><%= @lesson.lesson_type.capitalize.downcase.split(" ").map(&:capitalize).join(" ")  %></h1>

      <% if @lesson.completed?(current_user) %>
        <p class="header-info complete-btn completed">COMPLETED</p>
      <% else %>
        <%= form_for Progress.new do |f| %>
          <%= f.hidden_field :model_id, value: @lesson.id %>
          <%= f.submit "COMPLETE & CONTINUE", :class => "header-info complete-btn" %>
        <% end %>
      <% end %>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="column-main">
  <div class="lesson-container">
    <% if @lesson.video %>
      <iframe src="https://player.vimeo.com/video/<%= @lesson.video_uid %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <% end %>

    <% if @lesson.body && @lesson.lesson_type != "watch" %>
      <div class="lesson-body linkify <%= @lesson.lesson_type.downcase %>-body">
        <%= @lesson.body.html_safe %>
      </div>
    <% end %>

    <% if @lesson.discussion %>
      <%= form_for @comment, remote: true, html: {:class => "main-comment new_comment"} do |f| %>
        <%= f.text_area :body, :class => "comment-body", placeholder: "Post a response..." %>
        <%= f.hidden_field :lesson_id, value: @lesson.id %>
        <div class="comment-form-bottom">
          <div class="sort-bar">
            <p>Sort by:</p>
            <%= link_to lesson_path(id: @lesson.id, sort: "new") do %>
              <p class="<%= 'active' if @sort == "date" %> sort-item">New</p>
            <% end %>
            <%= link_to lesson_path(id: @lesson.id, sort: "top") do %>
              <p class="<%= 'active' if @sort == "top" %> sort-item">Top</p>
            <% end %>
          </div>
          <%= f.submit "Submit", :class => "submit-comment button green" %>
        </div>  
      <% end %>
       <div class="comments">
        <% @comments.each do |comment| %>
          <%= render partial: "comments/comment", locals: {comment: comment, commentable: @lesson} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div><!-- column-main -->
<%= content_for :column_right do %>
  <div class="chat-header">
    <p>INFORMATION</p>
  </div>
  <div class="video-side-info">
    <% if current_user.role == "admin" %>
      <%= link_to edit_lesson_path(@lesson) do %>
        <div class="new-lesson-btn">
          Edit Lesson
        </div>
      <% end %>
    <% end %>

    <% if @lesson.video %>
        <p class="video-title">
          <%= @lesson.video_title.upcase %>
        </p>
        <p class="video-author">
          <%= @lesson.video_author %>
        </p>
    <% end %>

    <% if @lesson.lesson_type == "watch" && @lesson.body %>
      <p class="video-body">
        <%= @lesson.body.html_safe %>
      </p>
    <% end %>
  </div>

    <% if @participants.length > 0 %> 
      <div class="participants <%= @lesson.lesson_type.downcase %>">
        <p class="participants-header">
          STUDIED BY:
        </p>
        <div class="participants-list">
          <% @participants[0..10].each do |user| %>
            <%= image_tag user.avatar_pic, :class => "participant" %>
          <% end %>
          <% if @participants.length > 11 %>
            <div class="more-participants participant">
             <%=  @participants.length - 11 %>+
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
<% end %>

<script>
  $('#side-nav').addClass('scrollable')
</script>