<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <h1>Sign In</h1>
    </div><!-- column main -->
  </div><!-- row -->
</div>


<div class="column-main">
	<div class="sign-in-container">
		<%= link_to '/auth/facebook' do %>
	      <div class="fb-connect-btn">
	        <%= image_tag "fb.svg", :class => "fb-icon" %>
	        <p class="fb-btn-text">
	          CONNECT WITH FACEBOOK
	        </p>
	      </div>
	    <% end %>
	    <p id="or">
	      OR
	    </p>
		<div class="sign-in">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "sign-in"}) do |f| %>
				<% if params[:error] %>
					<p class="error-message red-text">
						Your email and/or password was incorrect.
					</p>
				<% end %>
				<%= f.input :email, label: 'EMAIL:' %>
				<%= f.input :password, label: "PASSWORD:" %>
				<%= f.button :submit, "SIGN IN", :use_rails_ajax => false %>
				<% if params[:lesson_id] %>
					<%= hidden_field_tag :lesson_id, params[:lesson_id] %>
				<% end %>
			<% end %>
			<%= link_to "Forgot my password", new_password_path(resource_name), :class => "forgot-password devise-link" %>

			<div class="separator"></div>
			<div class="links">
	          <span class="already-account">Dont have an account?</span>
	          <%= link_to "SIGN UP", new_registration_path(resource_name, lesson_id: params[:lesson_id]), :class => "devise-link login-link" %>
		    </div>
		</div>
	</div>
</div><!-- column-main -->

<div class="column-right">
</div>

