<div id="comment_form">
  <%= simple_form_for [@commentable, @comment], :remote => true do |f| %>
    <div class="picture"><%= image_tag current_user.avatar.url(:thumb) %></div>
    <%= f.input :content, label: false, :placeholder => "Add Comment", :input_html => { :rows => 4, :id => "comment-#{@commentable.id}" } %>
    <!--<%= f.submit "Add Comment" %>-->
  <% end %>
</div>

<script type ="text/javascript">
$(function() {
  $("textarea#comment-<%= @commentable.id %>").keypress(function (e) {
      if(e.which == 13) {
        if (e.shiftKey === true) {
          //new line
        }
        else {
          e.preventDefault();
          var frm = $(this).closest("form");  
          jQuery.ajax({
              url: frm.attr("action"),
              data: frm.serialize(),
              complete: function(){
                frm.submit();
                $("textarea#comment-<%= @commentable.id %>").val(null);
               },
              dataType: "json"
          });
        }
      }
  });
});

$(document).ready(function(){
    $('textarea#comment-<%= @commentable.id %>').autosize();   
});
</script>
