<div id="comment_form" style="margin-left: 15px; padding-left: 5px;">
  <%= simple_form_for [@commentable, @comment], :remote => true do |f| %>
    <div class="name"><%= current_user.full_name %></div>
    <%= f.input :content, label: false, :placeholder => "Add Comment", :input_html => { :rows => 3, :id => "comment-#{@commentable.id}" } %>
   <!--  <div class="submit">
      <%= f.submit "Comment" %>
    </div> -->
  <% end %>
</div>

<script type ="text/javascript">
  $(function() {
    $("textarea#comment-<%= @commentable.id %>").keypress(function (e) {
        if(e.which == 13) {
          if (e.shiftKey === true) {
            //new line
          }
          else {
            e.preventDefault();
            var frm = $(this).closest("form");  
            jQuery.ajax({
                url: frm.attr("action"),
                data: frm.serialize(),
                complete: function(){
                  frm.submit();
                  $("textarea#comment-<%= @commentable.id %>").val(null);
                 },
                dataType: "json"
            });
          }
        }
    });

    // $("textarea#comment-<%= @commentable.id %>").focus(function() {
    //   //$(this).animate({height: '80px'});
    //   $('.submit').css({display: 'block'});
    // });
    // $("textarea#comment-<%= @commentable.id %>").blur(function() {
    //   //$(this).animate({height: '40px'});
    //   //$('.submit').css({display: 'none'});
    // });
  });

  $(document).ready(function(){
      $('textarea#comment-<%= @commentable.id %>').autosize();   
  });
</script>
