<div id="comments_list">
  <% @comments.where(:commentable_id => @user_assignment.id).each do |comment| %>
    <% if User.where(:id => comment.user_id).exists? %>
      <div id="comments">
        <% if comment.user_id %>
          <% @comment_user = User.find_by_id(comment.user_id) %>
          <div class="picture"><%= image_tag @comment_user.avatar.url(:thumb) %></div>
          <div class="name"><%= link_to student_profile_path(@comment_user) do %><%= @comment_user.full_name %><% end %></div>
        <% end %>
        <div class="timestamp"><%= comment.created_at.to_date.to_formatted_s( :long_ordinal ) %></div>
        <div class="content"><%= simple_format raw Rinku.auto_link(comment.content, :all, 'target="_blank"') %></div>
        <% if current_user.id == comment.user_id %>
          <%= link_to [@commentable, comment], :confirm => 'Are you sure you want to remove this comment? This cannot be undone.', :action => "destroy", :method => :delete, :remote => true do %>
            <div class="delete"></div>
          <% end %>
        <% else %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


