<% if user_assignment %>
 <%-#+ What's this ? : It's Object of Assignment to refer to it's title +%>
 <%-#+ Why Here ?: This needs to be here, otherwise user_assignment will be NULL +%>

<%
	@assignment = Assignment.where(:id => user_assignment.assignment_id).first
	@user = User.find_by_id(user_assignment.user_id)
	@user_assignment = UserAssignment.where(:user_id => @user.id).where(:assignment_id => @assignment.id).first
	@commentable = @assignment
	@ua = UserAssignment.where(:id => @assignment.user_assignments.where(:user_id => @user[:id]).first.id).first
  @commentable = @ua
%>

 <div id="activity">
	<div class="content">
		<!-- ****** Video / Founder ****** -->
		 <% if @assignment.category == "video" or @assignment.category == "founder" %>
			<% if @user.avatar != nil %>
				<div class="picture">
					<%= image_tag @user.avatar.url(:medium) %>
				</div>
			<% end %>
	   	<%= link_to student_profile_path(@user) do %>
			  <div class="name"><%= @user.full_name %></div>
			<% end %>
			<% if user_assignment.complete == true %>
			  <p>finished watching <%= link_to @assignment.title, assignment_path(@assignment) %></p>
			<% if user_assignment.rating.nil? %>
			<% else %>

			  <% i = 0 %>
        <% r = @user_assignment.rating %>
        <% while i < r do %>
          <i class="fa fa-star"></i>
        	<% i += 1 %>
      	<% end %>
    		<% end %>

      	<br/>
      	<div class="minimize"><%= @user_assignment.question_response %></div>
	    	<div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
			<% end %><!-- complete == true  -->

	  <!-- ****** Milestone ***** -->
		 <% elsif @assignment.category == "milestone" %>
				<% if @user.avatar != nil %>
					<div class="picture">
						<%= image_tag @user.avatar.url(:medium) %>
					</div>
				<% end %>
		   		<%= link_to student_profile_path(@user) do %>
				    	<div class="name"><%= @user.full_name %></div>
				 <% end %>
				<% if user_assignment.complete == true %>
				  <p>completed <%= link_to @user_assignment.title %></p>
				  <div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
				 <% end %>

		<!-- ****** Upload ****** -->
		 <% elsif @assignment.category == "upload" %>
				<% if @user.avatar != nil %>
					<div class="picture">
						<%= image_tag @user.avatar.url(:medium) %>
					</div>
				<% end %>
		   		<%= link_to student_profile_path(@user) do %>
				    	<div class="name"><%= @user.full_name %></div>
				  <% end %>
			 	<% if user_assignment.complete == true %>
				  <p>uploaded <%= link_to @assignment.title, user_assignments_path %></p>
				  <div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
				 <% end %>

		<!-- ****** Reading ****** -->
		 <% elsif @assignment.category == "reading" %>
	 			<% if @user.avatar != nil %>
					<div class="picture">
						<%= image_tag @user.avatar.url(:medium) %>
					</div>
				<% end %>
		   		<%= link_to student_profile_path(@user) do %>
				    	<div class="name"><%= @user.full_name %></div>
				  <% end %>
				<% if user_assignment.complete == true %>
				  <p>finished <%= link_to @assignment.title %></p>
				  <div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
				<% end %>

		<!-- ***** Reading ***** -->
		 <% elsif @assignment.category == "reading" %>
	 			<% if @user.avatar != nil %>
					<div class="picture">
						<%= image_tag @user.avatar.url(:medium) %>
					</div>
				<% end %>
		   		<%= link_to student_profile_path(@user) do %>
				    	<div class="name"><%= @user.full_name %></div>
				  <% end %>
				<% if user_assignment.complete == true %>
				  <p>finished <%= link_to @assignment.title %></p>
				  <div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
				 <% end %>

		<!-- ***** Quiz ***** -->
		<% elsif @assignment.category == "quiz" %>
				<% if @user.avatar != nil %>
				<div class="picture">
					<%= image_tag @user.avatar.url(:medium) %>
				</div>
			<% end %>
	   		<%= link_to student_profile_path(@user) do %>
			    	<div class="name"><%= @user.full_name %></div>
			  <% end %>
			<% if user_assignment.complete == true %>
			  <p>took <%= link_to @assignment.title %></p>
			 <% end %>
			  <div class="timestamp"><%= time_ago_in_words(@user_assignment.updated_at) %> ago</div>
				 <% end %>
		</div><!-- content -->
	</div><!-- post -->

 <% end %>