<%= subscribe_to "/layouts/assignments" %>
<%= subscribe_to "/layouts/comments" %>

<div class="top-section">
  <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
       <h1>Activity Feed</h1>
      </div>
  </div><!-- row -->
</div>

<div class="column-main">
	<div>
		<% @activity_feeds.each do |activity_feed| %>
		  <%= ActivityFeedPresenter.new(activity_feed, self).render_activity_feed %>

    <!-- ActivityFeed-comments -->
    <div id="comments_section">
        <div id="comments_container">
          <div id="<%= @assignment.user_assignments.where(:user_id => @user[:id]).first.id %>">
            <%= render "user_comments/uacomments" %>
          </div>
          <div id="submit-<%= @assignment.user_assignments.where(:user_id => @user[:id]).first.id %>">
            <%= render "user_comments/addcomment_uafeed" %>
          </div>
        </div> <!-- ActivityFeed-comments -->
    </div>
		<% end %>
	</div>

	<%= paginate @activity_feeds %>

</div> <!-- column-main -->


<div class="column-right">
  <%= render '/users/leaderboard' %>
</div><!-- column-right -->
