 <% if user_signed_in? %>
  <% if current_user.online == "admin" %>
     <ul class="breadcrumb">
      <li><%= link_to 'Applications', apps_path %> <span class="divider">/</span></li>
      <li><%= @app.first %> <%= @app.last %></li>
    </ul>
     <div id="event-show">
      <h1><%= @app.first %> <%= @app.last %></h1>
      <span><b>Email:</b> <%= @app.email %> </span><br />
      <span><b>Video:</b> <%= link_to 'link', "#{@app.exist}", :target => "blank" %> </span><br />
      <span><b>Business:</b> <%= @app.business %></span><br /><br />
      <%= render 'form' %>
    </div>
  <% end %>
<% end %>
