<% if user_signed_in? %>
  <% if current_user.online == "admin" %>
    <% @apps.each do |app| %>
      <div id="app-list-container">
        <%= link_to edit_app_path(app.id) do %>
          <div class="button">Edit</div>
        <% end %>
        <div id="avatar"><%= image_tag app.photo.url(:large) %></div>
        <div class="info">
          <div id="name"><%= app.first %> <%= app.last %></div>
          <div class="timestamp">Submitted <%= app.created_at.to_date.to_formatted_s( :long_ordinal )  %></div>
          <div class="status">
            <span><b>Status:</b> <%= app.status %> </span>
            <span><b>Response:</b> <%= app.response %> </span><br />
            <span><b>Email:</b> <%= app.email %> </span><br />
            <span><b>Video:</b> <%= link_to 'link', "#{app.exist}", :target => "blank" %> </span><br />
            <span><b>Notes:</b> <%= app.notes %></span>
          </div>
          <div id ="profile_links">
            
            <span><%= app.city %>, <%= app.country %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% else%>
    Access Denied.
  <% end %>
<% else %>
You must be signed in to access this page.
<% end %>