<div class="top-section">
  <h1 style="font-size: 34px; font-weight: 300;">Courses</h1>
</div>

<br/><br/>

<% if current_user.online == "admin" %>
   <% @courses.each do |course| %>
    <%= link_to(course_path(course)) do %>
    <div class="course-wrapper">
      <div class="course-tile" style="background-image: url(<%= course.tile_image %>);">
        <div class="information">
          <div class="title"><%= course.title %></div>
          <div class="description"><%= course.start_date.strftime("%A, %B %e") %></div>
        </div>
        <div class="progress" style="display;block; width: 100%;">
          <div class="bar" style="width: <%= number_to_percentage(course.progress(current_user)) %>;"></div>
        </div>
      </div>
    </div>
    <% end %> 
  <% end %>

<% elsif current_user.program == "Winter 2014" %>

  <% @current_courses.each do |course| %>
  	<%= link_to(course_path(course)) do %>
      <div class="course-wrapper">
        <div class="course-tile" style="background-image: url(<%= course.tile_image %>);">
          <div class="information">
            <div class="title"><%= course.title %></div>
            <div class="description">Opened <%= course.start_date.strftime("%A, %B %e") %></div>
          </div>
          <div class="percent-complete">
            <% if course.progress(current_user).to_i > 0 %>
              <%= course.progress(current_user).to_i %>%
            <% else %>
            <% end %>
          </div>
          <div class="progress" style="display;block; width: 100%;">
            <div class="bar" style="width: <%= number_to_percentage(course.progress(current_user)) %>;"></div>
          </div>
        </div>
      </div>
  	<% end %> 
  <% end %>
  
  <% @locked_courses.each do |locked_course| %>
    <div class="course-wrapper">
      <div class="course-tile" style="background-image: url(<%= locked_course.tile_image %>);">
        <div class="information">
          <div class="title"><%= locked_course.title %></div>
           <div class="description"><%= locked_course.start_date.strftime("%A, %B %e") %></div>
        </div>
        <div class="course-tile-overlay">
          <div class="lock"></div>
          <div class="dates">Opens <%= locked_course.start_date.strftime("%A, %B %e") %></div>
        </div>
      </div>
    </div>
  <% end %>

  <% else %>
  Sorry, you do not have access to this page.


<% end %>


