<% if @course.course_current? == true or current_user.role == "admin" %>

	<div class="top-section">
	  <div class="row">
	    <div class="top-column-main">
	      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
	        <h1><%= @course.title %></h1>
	        <div class="section-right">
	        	<div class="course-progress">
	        		<%= @course.progress(current_user).to_i %>%
	        		<p>Complete</p>
	        	</div>
	        </div><!-- button-right -->
	      </div>
	    </div><!-- column main -->
	  </div><!-- row -->
	</div>
	<div class="column-main">

		<div class="back" style="margin-left: 7px;">
		  <%= link_to "Back to Courses", courses_path %>
		</div>
		<br/>

		<div class="course-show-container">
			<!-- ******  CONTENT ******* -->
			<% @assignments.each do |assignment| %>
				<%= link_to(assignment_path(assignment)) do %>
					<!--changed from assignment-container -->
					<div class="video-container">
						<% if assignment.complete_for_user?(current_user) %>
							<div class="complete"></div>
						<% end %>
						<!-- select icon depending on assignment type #changed from assignment-icon -->
						<div class="pic">
							<%= image_tag(assignment.speaker_pic(:large)) %>
							<div class="icon">
								<% if assignment.category == "quiz" %>
									<%= image_tag("icons/quiz.png") %>
								<% elsif assignment.category == "video" %>
									<%= image_tag("icons/video.png") %>
								<% elsif assignment.category == "founder" %>
									<%= image_tag("icons/idea.png") %>
								<% elsif assignment.category == "reading" %>
									<%= image_tag("icons/reading.png") %>
								<% elsif assignment.category == "upload" %>
									<%= image_tag("icons/assignment.png") %>
								<% elsif assignment.category == "milestone" %>
									<%= image_tag("icons/milestone.png") %>
								<% end %>
							</div>
						</div>
						<div class="video-information">
							<% if current_user.role == "boarding" %>
							<% else %>
								<h4 style="margin: 0; padding-top: 10px; padding-bottom: 0;"><%= assignment.day %></h4>
							<% end %>
							<h2 style="font-size: 18px; margin-top: 0;"><%= assignment.title %></h2>
							<div class="description minimize">
								<% if assignment.category == "quiz" %>
									Quiz
								<% elsif assignment.category == "video" %>
									Video Lecture |
								<% elsif assignment.category == "founder" %>
									Founder Story |
								<% elsif assignment.category == "reading" %>
									Reading Assignment |
								<% elsif assignment.category == "upload" %>
									Activity
								<% elsif assignment.category == "milestone" %>
									Business Plan Milestone
								<% end %>
								&nbsp;<%= assignment.speaker_name %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div><!-- course-show-container -->

		<div class="course-show-container">
			<!-- ******  CONTENT ******* -->
			<% @assignmentsOpt.each do |assignment| %>
				<%= link_to(assignment_path(assignment)) do %>
					<!--changed from assignment-container -->
					<div class="video-container">
						<% if assignment.complete_for_user?(current_user) %>
							<div class="complete"></div>
						<% end %>
						<!-- select icon depending on assignment type #changed from assignment-icon -->
						<div class="pic">
							<%= image_tag(assignment.speaker_pic(:large)) %>
							<div class="icon">
								<% if assignment.category == "quiz" %>
									<%= image_tag("icons/quiz.png") %>
								<% elsif assignment.category == "video" %>
									<%= image_tag("icons/video.png") %>
								<% elsif assignment.category == "founder" %>
									<%= image_tag("icons/idea.png") %>
								<% elsif assignment.category == "reading" %>
									<%= image_tag("icons/reading.png") %>
								<% elsif assignment.category == "upload" %>
									<%= image_tag("icons/assignment.png") %>
								<% elsif assignment.category == "milestone" %>
									<%= image_tag("icons/milestone.png") %>
								<% end %>
							</div>
						</div>
						<div class="video-information">
							<span style="font-size: 18px; margin-bottom: 5px; line-height: 1.3; margin-top: 15px; float: left; margin-right: 10px;"><%= assignment.title %></span><span class="type" style="margin-left: 0;">Optional</span>
							<div class="description minimize" style="clear: both;"><%= assignment.speaker_name %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div><!-- course-show-container -->

		<div id="course-header">
			<div class="wrapper">
				<!-- ******  VIDEO MODAL ******* -->
				<div id="videoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel"><%= @course.title %> Introduction</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="intro">
				    	<% if @course.intro_vimeo %>
			          <%= raw @intro_embed %>
			        <% else %>
			        <% end %>
				    </div>
				  </div>
				</div>
				<div class="inner">
				</div>
			</div>
		</div>
	</div><!-- column-main -->


	<div class="column-right">
	  <div class="col-right-top-section">
	    <h3>Information</h3>
	  </div><!-- col-right-top-section -->

	  <div class="col-right-bottom">
			<!-- ******  INTRO VIDEO ******* -->
			<div style="display: block; overflow: hidden;">
				<a href="#videoModal" data-toggle="modal" id="intro-video" data-backdrop="false">
					<div class="play-intro" ></div>
				</a>
			</div>
			<div class="course-icon">
				<%= image_tag(@course.course_icon) %>
			</div>

			<!-- ******  INFO TABS ******* -->
			<div class="information">
    		<div class="details">
					<% if @course.start_date %>
						<div class="dates">Start date: <%= @course.start_date.strftime("%B %e") %></div>
					<% end %>
				</div>
    		<p style="font-size: 10px;"><%= simple_format(@course.description) %></p>
    		<% if @course.intro_screenshot.url != nil %>
    			<%= link_to @course.intro_screenshot.url, target: '_blank' do %>
    				<i class="fa fa-file-pdf-o"></i>
    				<span> View Syllabus</span>
    			<% end %>
    		<% end %>
			</div><!-- information -->
	  </div><!-- col-right-bottom -->
	</div><!-- column-right -->

<% else %>
	<div class="top-section">
	  <div class="row">
	    <div class="top-column-main">
	      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
	        <h1><%= @course.title %></h1>
	        <div class="section-right">
	        	<div class="course-progress">
	        		<%= @course.progress(current_user).to_i %>%
	        		<p>Complete</p>
	        	</div>
	        </div><!-- button-right -->
	      </div>
	    </div><!-- column main -->
	  </div><!-- row -->
	</div>
	<div class="column-main">
		<p>This course has not started yet!</p>
	</div>
<% end %>



