<div id="post_form">
  <%= simple_form_for @post, :html => { :multipart => true } do |form| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.input :content, label: false, :placeholder => " ", :input_html => { :rows => 1 } %>
    <div class="photo-transparent"><%= form.file_field :file, :input_html => { :id => "upfile" } %></div>
    <div class="photo-upload"><i class="fa fa-camera fa-lg" id="file-icon"></i></div>
    <%= form.submit "Share" %>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#post_content').autosize();
});
$(function() {
  $("#file-icon").click(function() {
    document.getElementById("post_file").click();
  });
});
</script>