<div style="padding: 30px;">
  <button type="button" class="close" style="" data-dismiss="modal" aria-hidden="true">x</button>
  <h1>New Post</h1><br/>
  <%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: "Title", :input_html => { :rows => 1, :maxlength =>200, :style => "width: 95%;"} %>
  <%= f.input :content, label: "Content", :input_html => { :rows => 5, :maxlength =>580, :style => "width: 95%;"} %><br/>
  <label class="string optional control-label">Category</label>
  <%= f.select :category, ["General", "Coursework", "Advice", "Resources"] %>
  <br/><br/>


  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>

</div>
