<% @commentable = post %>
<% @comments = @commentable.user_comments.order(:created_at) %>
<% @comment = UserComment.new %>

<% if User.where(:id => post.user_id).exists? %>
  
    <div class="forum-post" id="forum-post-<%=post.id%>">
      <% @user = User.find_by_id(post.user_id) %>
      <% @votes = post.votes_for %>

      <!-- *** upvoteable *** -->
      <div class="upvote">
        <% if current_user.voted_for?(post) %>
          <div class="unvote-button" id="unvote-button-<%= post.id %>">
            <%=link_to unvote_for_post_posts_path(post_id: post.id), :remote => true,  :method => :post do %><i class="fa fa-chevron-up"></i><% end %>
          </div>
        <% else %>
          <div class="vote-button" id="vote-button-<%= post.id %>">
            <%=link_to vote_for_post_posts_path(post_id: post.id), :remote => true,  :method => :post do %><i class="fa fa-chevron-up"></i><% end %>
          </div>
        <% end %>
        <div class="vote-count" id="votes-<%= post.id %>"><%= @votes %></div>
      </div><!-- upvote -->

      <!-- ** post information ** -->
      <%= link_to post_path(post.id) do %>
        <div class="section-info">
          <div class="text">
            <%= raw Rinku.auto_link(simple_format(post.title), :all, 'target="_blank"') %>
            <!-- ** category tag ** -->
            <% if post.category == nil or post.category == "General" %>
              <span class="type">General</span>
            <% elsif post.category == "Coursework" %>
              <span class="type blue">Coursework</span>
            <% elsif post.category == "Advice" %>
              <span class="type orange">Advice</span>
            <% else %>
            <% end %>
          </div>
          <div class="info">
            Posted <%= post.created_at.to_date.to_formatted_s( :long_ordinal ) %> by  <%= link_to student_profile_path(@user) do %> <span class="name"><%= @user.full_name %></span> <% end %> on <%= post.created_at.to_date.to_formatted_s( :long_ordinal ) %>
          </div>
        </div>
      <% end %><!-- link to post#show -->

    </div><!-- forum-post -->
 
<% end %>











