<%= subscribe_to "/layouts/posts" %>

<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <h1>Discussion Board</h1>
        <!-- ***** CREATE POST BUTTON ***** -->

        <div class="button-right" style="margin-right: 0;">
          <a id="show-filters" style="position: absolute; top: 12px; right: 70px;"><h4>Filters</h4></a>
          <a href="#newPostModal" data-toggle="modal" id="intro-video" data-backdrop="false">
            <div class="circle-button"><p>+</p></div>
          </a>
          <div id="user-search-form" style="left: -250px;">
            <%= search_form_for @q do |f| %>
              <div class="filter">
                <%= f.text_field :title_or_content_cont, :placeholder => "Post Title or Content" %>
              </div>
              <div class="filter">
                <%= f.label :category_cont, 'Type' %>
                <%= f.select :category_cont, ['Advice', 'Coursework', 'General'], include_blank: true %>
              </div>

              <div class="filter">
                <%= f.label :s, 'Sort by' %>
                <%= f.collection_select :s, Post::SORT_FIELDS.to_a, :first, :last, selected: posts_sort_value, include_blank: false %>
              </div>
              <div class="filter">
                <%= f.submit 'Filter', :id => "filter-submit" %>
              </div>
            <% end %>
          </div><!-- user-search-form -->

          <!-- <span class="type blue"><%= sortable "vote", "Votes" %></span>
          <span class="type green"><%= sortable "created_at", "Date" %></span>
          <span class="type red"><%= sortable "category", "Category" %></span> -->
        </div>

      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div class="row" style="height: 100%;">
   <div class="column-main">
    <div class="headerAlert">
      <div class="alert alert-info">
        <%= link_to "Please refresh this page to receive new updates.", discussions_path %>
      </div>
    </div>


    <!-- ***** SHOW POSTS ***** -->
    <div id="posts-column">
      <div id="postsDiv">
        <%= render @posts %>
      </div>
      <%= paginate @posts %>
    </div>

    <%= subscribe_to "/posts/new" %>
  </div><!-- col-9 -->


  <div class="column-right">
    <%= render "activity_feeds/sidebarindex"%>
  </div>
</div><!-- row -->

<!-- ******  NEW POST MODAL ******* -->
<div id="newPostModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="padding: 30px;">
    <button type="button" class="close" style="" data-dismiss="modal" aria-hidden="true">x</button>
    <h1>New Post</h1><br/>
    <%= render 'newpost' %>
  </div>
</div>



<script type="text/javascript">
  $(".headerAlert").hide();

  $('#show-filters').click(function(){
    $('#user-search-form').toggle('5000', 'easeOutCirc', function() {});
    //$('#users').toggleClass('active', [3000]);
    return false;
  });

  $( document ).ready(function() {
    // refresh alert for new posts
    var headerAlert = document.querySelector('.headerAlert');
    var origOffsetY = headerAlert.offsetTop;
    function onScroll(e) {
    window.scrollY >= origOffsetY ? headerAlert.classList.add('sticky') :
      headerAlert.classList.remove('sticky');
    }
    document.addEventListener('scroll', onScroll);
  });
</script>

