<%= subscribe_to "/layouts/posts" %>

<div class="top-section">
  <h1>Forum</h1>
  <!-- ***** CREATE POST BUTTON ***** -->
  <div class="button-right">
    <a href="#newPostModal" data-toggle="modal" id="intro-video" data-backdrop="false">
      <div class="button">New Post</div>
    </a>
  </div>
</div>

<div class="headerAlert">
  <div class="alert alert-info">
    <%= link_to "Please refresh this page to receive new updates.", posts_path %>
  </div>      
</div>

 
<br/><br/>


<!-- ***** SHOW POSTS ***** -->
<div id="posts-column">
  <div id="postsDiv">
    <%= render @posts %>
  </div>
  <%= paginate @posts %>
</div>

<%= subscribe_to "/posts/new" %>


<!-- ******  NEW POST MODAL ******* -->
<div id="newPostModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'newpost' %>
</div>


<script type="text/javascript">
  $(".headerAlert").hide();

  $( document ).ready(function() { 

    // refresh alert for new posts
    var headerAlert = document.querySelector('.headerAlert');
    var origOffsetY = headerAlert.offsetTop;
    function onScroll(e) {
    window.scrollY >= origOffsetY ? headerAlert.classList.add('sticky') :
      headerAlert.classList.remove('sticky');
    }
    document.addEventListener('scroll', onScroll);   
  });
</script>

