<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<p>
  <b>Content:</b>
  <%= @post.content %>
                
	<div id="comments-bar">discussion</div>
	<div id="comments_container">
	  <%= render "user_comments/comments" %>
	</div>
	<%= render "user_comments/addcomment" %>
</p>


