<% if User.where(:id => post.user_id).exists? %>
  <div id="post">
    <% @user = User.find_by_id(post.user_id) %>
    <% if @user.avatar != nil %>
      <div class="picture"><%= image_tag @user.avatar.url(:medium) %></div>
    <% end %>
    <%= link_to student_profile_path(@user) do %><div class="name"><%= @user.full_name %></div><% end %>
    <div class="timestamp"><%= post.created_at.to_date.to_formatted_s( :long_ordinal ) %></div>

    <% if post.file_file_name == nil %>
      <div class="content">
      	 Created 
      	<%= raw Rinku.auto_link(post.content, :all, 'target="_blank"') %>
      	</div>
    <% else %>
      <div class="content">
      	Created
		<%= raw Rinku.auto_link(post.content, :all, 'target="_blank"') %></div>
      <div class="image"><%= image_tag post.file.url(:preview) %></div>
    <% end %>

    
    

  </div>
  <% end %>