<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <h1 class="no-letter-spacing">How to</h1>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div id="amas">
  <div class="section-title">
    <h1>UPCOMING</h1>
  </div>
  <div class="section-content-list">
    <% @upcoming_amas.each do |ama| %>
      <div class="content ama">
          <div class="content-text ama-text">
            <div class="content-title">
              <h3><%= ama.title %></h3>
            </div>
            <div class="content-date">
              <h4><%= ama.formatted_start_date %></h4>
              </div>
          </div>
          <%= image_tag ama.image_url, :class => "ama-pic" %>
          <p class="ama-description">
            <%= ama.description[0..275] %><%= "..." if ama.description.length > 300 %>
          </p>
      </div>
    <% end %>
  </div>
  <div class="section-title archive">
    <h1>ARCHIVE</h1>
  </div>
  <div class="section-content-list">
    <% @past_amas.each do |ama| %>
     <div class="content ama">
        <%= link_to ama_path(ama), :class => "content-link" do %>
          <div class="content-text ama-text">
            <div class="content-title">
              <h3><%= ama.title %></h3>
            </div>
            <div class="content-date">
              <h4><%= ama.formatted_start_date %></h4>
              </div>
          </div>
          <%= image_tag ama.image_url, :class => "ama-pic" %>
          <p class="ama-description">
            <%= ama.description[0..275] %><%= "..." if ama.description.length > 300 %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="column-right">

</div>
