<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <%= link_to amas_path do %>
        <p class="header-back"><< ARCHIVE</p>
      <% end %>
      <h1 class="no-letter-spacing">Ask Me Anything</h1>
      <p class="header-info"></p>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<div id="amas">
  <iframe src="https://player.vimeo.com/video/48181711" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

  <p class="video-title">
    <%= @ama.title %>
  </p>
  <p class="video-author">
    <%= @ama.description %>
  </p>

  <%= form_for @comment, remote: true, html: {:class => "main-comment"} do |f| %>
    <%= f.text_area :body, :class => "comment-body", placeholder: "Ask a question..." %>
    <%= f.hidden_field :ama_id, value: @ama.id %>
    <div class="comment-form-bottom">
      <div class="sort-bar">
        <p>Sort by:</p>
        <%= link_to ama_path(id: @ama.id, sort: "new") do %>
          <p class="<%= 'active' if @sort == "date" %> sort-item">New</p>
        <% end %>
        <%= link_to ama_path(id: @ama.id, sort: "top") do %>
          <p class="<%= 'active' if @sort == "top" %> sort-item">Top</p>
        <% end %>
      </div>
      <%= f.submit "Submit", :class => "submit-comment" %>
    </div>  
  <% end %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render partial: "comments/comment", locals: {comment: comment, commentable: @ama} %>
    <% end %>
  </div>
</div>


  <%= content_for :column_right do %>
    <div class="chat-header">
      <p>CHAT</p>
    </div>
    <div class="chat-messages">  
      <% @chat_comments.each do |comment| %>
        <%= render partial: 'comments/chat_comment', locals: {comment: comment} %>
      <% end %>    
    </div>
    <div class="chat-box-container">
      <%= form_for Comment.new, remote: true do |f| %>
        <%= f.text_area :body, :class => "chat-comment-body", placeholder: "Type something here..." %>
        <%= f.hidden_field :ama_id, value: @ama.id %>
        <%= f.hidden_field :comment_type, value: "chat" %>
        <%= f.submit "Submit", :class => "submit-comment hidden" %>
      <% end %>
    </div>
  <% end %>


<script>
  $(function() {
    $('.chat-messages').scrollTop(100000);
    Faye.Transport.WebSocket.isUsable = function($, _, c) { c(false) };
    var faye = new Faye.Client('http://faye-server-10.herokuapp.com/faye');
    faye.unsubscribe("<%= ama_path(@ama) %>" + "/chat")
    if (typeof sub === "undefined") { 
        sub = faye.subscribe("<%= ama_path @ama %>" + "/chat", function(data) {
          var message = $.parseJSON(data)
          $.get('/comments/' + message.id, function(data) {
            $('.chat-messages').append(data)
            setTimeout(function(){
              $('.chat-messages').scrollTop(100000);
            }, 100)
          });
      }) 
    };
  })
</script>


