<header id="landing-header">
  <div id="header-content">
      <ul class="header-mid-right">
        <li class="header-item <%= 'active' if request.original_url.include?("playlists") %>">
          <%= link_to "http://drapertv.com/playlists" do %>
            SERIES
          <% end %>
        </li>
        <li class="header-item <%= 'active' if request.original_url.include?("livestreams") %>">
          <%= link_to "http://drapertv.com/livestreams" do %>
            LIVESTREAMS
          <% end %>
        </li>
        <li class="header-item">
          <%= link_to "http://www.draperuniversity.com", target: "_blank" do %>
            DRAPER UNIVERSITY
          <% end %>
        </li>
      </ul>

    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'drapertv-logo.png', :class => "header-item logo" %>
      <% end %>
    </div>

      <div class="header-mid-left no-mobile">
        <%= form_for "http://drapertv.com/searches" do |f| %>
          <%= f.text_field :terms, :class => "search-input", placeholder: "Search" %>
        <% end %>
      </div>
  </div>
</header>