<header id="global-header">
  <div class="header-left">
    <%= link_to "http://www.drapertv.com" do %>
      <%= image_tag 'drapertvlogo.svg', :class => "header-item logo" %>
    <% end %>
  </div>
  <div class="header-right">
    <li class="header-item">
      <%= link_to "http://www.draperuniversity.com" do %>
        DRAPER UNIVERSITY
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "http://www.herocity.com/" do %>
        HERO CITY
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "http://www.drapertv.com" do %>
        DRAPERTV
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "http://www.draperuniversity.com/investment" do %>
        INVESTMENT
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "http://www.draperuniversity.com/blog/" do %>
        ABOUT
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "https://squareup.com/market/draper-university" do %>
        STORE
      <% end %>
    </li>

  </div>
</header>
<header id="landing-header">
  <div class="header-left">
    <li class="header-item">
      <%= link_to "http://www.drapertv.com/series" do %>
        SERIES
      <% end %>
    </li>
    <li class="header-item">
      <%= link_to "http://www.drapertv.com/livestreams" do %>
        LIVESTREAMS
      <% end %> 
    </li>
    <li class="header-item active">
      <%= link_to root_path do %>
        COURSES
      <% end %>
    </li> 
  </div>
  <%= render partial: "layouts/shield" %>
  
  <ul class="header-right">
    <div class="header-search no-mobile">
      <%= form_tag "http://www.drapertv.com/searches" do %>
        <%= text_field_tag :terms, nil, :class => "search-input", placeholder: "Search" %>
      <% end %>
    </div>   

    <ul class="nav header-item">
      <%= image_tag "settings.svg", :class => "settings-icon" %>

        <ul class="dropdown-menu">
          <% if @user || current_user %>
            <li role="menu"><%= link_to 'Account Info',  edit_user_path %></li>
            <li role="menu"><%= link_to 'Change Password',  edit_user_registration_path %></li>
            <li role="menu"><%= link_to 'Terms and Conditions',  terms_path %></li>
            <li role="menu"><%= link_to 'Privacy Policy',  privacy_path %></li>
            <li class="divider"></li>
            <li role="menu"><%= link_to 'Log Out', logout_path, :use_rails_ajax => false %></li>
          <% else %>
            <li role="menu"><%= link_to "Sign In", new_user_session_path  %></li>
          <% end %>
        </ul>
    </ul>
  </ul>
</header>
