
	<div id="side-nav" style="display: block;">
		<div class="top-bar">
			<%= link_to student_profile_path(current_user) do %>
				<div id="navbar-avatar"><%= image_tag current_user.avatar.url(:medium) %></div>
			<% end %>
			 
		</div>
		<div class="main">
			<!-- ****** LEARN ******* -->
			<div class="section-title">Learn</div>
			<div class="section-link">
				<%= link_to courses_path do %>
					<div class="link">
						<div class="title">Courses</div>
					</div>
				<% end %>
			</div>
			<div class="section-link">
				<%= link_to posts_path do %>
					<div class="link">
						<div class="title">Forum</div>
					</div>
				<% end %>
			</div>
			<div class="section-link">
				<%= link_to events_path do %>
					<div class="link">
						<div class="title">Calendar</div>
					</div>
				<% end %>
			</div>
			<!-- ****** CONNECT ******* -->
			<div class="section-title">Connect</div>
			<div class="section-link">
				<%= link_to users_path do %>
					<div class="link">
						<div class="title">Students</div>
					</div>
				<% end %>
			</div>
			<div class="section-link">
				<%= link_to resources_path do %>
					<div class="link">
						<div class="title">Resources</div>
					</div>
				<% end %>
			</div>
			<div class="section-link">
				<%= link_to feedbacks_path do %>
					<div class="link">
						<div class="title">Feedback</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
  
  <br>
	<br>





		<div class="section-link">
		  <%= subscribe_to "/layouts/#{current_user.id}" %>
		  <%= subscribe_to "/layouts/comments" %>
		</div>  




