<div id="side-nav">

	<% if content_for?(:side_nav) %>
		<%= yield :side_nav %>
	<% else %>
		<div class="profile-info">
			<% user = current_user %>
			<% if user %>
				<%= image_tag user.avatar_pic, :class => "profile-pic" %>
				<div class="profile-text">
					<div class="profile-name">
						<%= user.full_name %>
					</div>
					<div class="profile-karma">
						<%= user.karma || 0 %> - <%= user.title %>
					</div>
				</div>
			<% else %>
				<%= link_to '/users/sign_in' do %>
					<p class="green sign-in">SIGN IN</p>
				<% end %>
			<% end %>

		</div>
		<div class="main">
			<div class="side-link-container">
				<%= link_to topics_path, :class => "side-link #{ 'active' if @page == 'courses' }" do %>
					COURSES
				<% end %>
			</div>
			<div class="side-link-container">
			<%= link_to events_path, :class => "side-link #{ 'active' if @page == 'calendar' }" do %>
				CALENDAR
			<% end %>
			</div>
			<div class="side-link-container">
				<%= link_to amas_path, :class => "side-link #{ 'active' if @page == 'monthly' }" do %>
					LIVE LEARNING
				<% end %>
				<%= image_tag "info-icon.svg", :class => "side-info-icon tool-tip-icon" %>
				<div class="tool-tip">
					<div class="tool-tip-header">
						LIVE LEARNING
					</div>
					<div class="tool-tip-body">
						Every month we’ll bring in one of Silicon Valley’s best so you can ask them for advice, opinions, and insight. Submit your questions any time before the session begins or upvote other students’ suggestions. We’ll leave 20 minutes for a live Q&A so you can talk directly with the mentors we bring in.
					</div>
					<div class="tool-tip-okay">
						<%= image_tag "check.svg", :class => "tool-tip-check" %>
					</div>
					<div class="tool-tip-circle"></div>
					<div class="tool-tip-line"></div>
				</div>
			</div>
			<% if current_user && !current_user.paid %>
			    <%= link_to new_charge_path do %>
			      <div class="purchase-membership btn-ui">
			        GET MEMBERSHIP
			      </div>
		    <% end %>
		<% end %>
		</div>
	<% end %>
</div>

