<div id="side-nav" style="display:block;">
	<!-- ****** LEARN ******* -->
	<div class="section-title">Learn</div>
	<div class="section-link">
		<%= link_to courses_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Courses</div>
			</div>
		<% end %>
	</div>
	<div class="section-link">
		<%= link_to posts_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Forum</div>
			</div>
		<% end %>
	</div>
	<div class="section-link">
		<%= link_to events_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Calendar</div>
			</div>
		<% end %>
	</div>
	<!-- ****** CONNECT ******* -->
	<div class="section-title">Connect</div>
	<div class="section-link">
		<%= link_to users_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Students</div>
			</div>
		<% end %>
	</div>
	<div class="section-link">
		<%= link_to resources_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Resources</div>
			</div>
		<% end %>
	</div>
	<div class="section-link">
		<%= link_to feedbacks_path, :class => "ajax-call" do %>
			<div class="link">
				<div class="title">Feedback</div>
			</div>
		<% end %>
	</div>
  	<br>
	<br>
	<button id="Notification" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
    Notification
    </button>
    <div id="demo" class="collapse in"> 
	    <div id="notify" class="section-link">  

	    </div>
  		        	
    </div>
    <%= link_to "", activities_path, :data => { :'class' => 'displayLink' }, :remote => true %>


		<script type="text/javascript">

	   		$('#demo').collapse({
	        toggle: true
		    })
		    
		    $("#Notification").click( function()
		    {
		        $("#Notification").removeClass("btn btn-success");
		        $('#Notification').addClass("btn btn-primary");
		        $('a[data\-class="displayLink"]').click();
		    } );

			

			
			$( document ).ready(function() {
				$('a[data\-class="displayLink"]').click();
			});

			
		</script>



		<div class="section-link">
		      <%= subscribe_to "/layouts/#{current_user.id}" %>
		      <%= subscribe_to "/layouts/comments" %>

		</div>  


</div>



