<!DOCTYPE html>
<html lang="en">

<head>
  <title>Draper University Online School</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- install fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic' rel='stylesheet' type='text/css'>
  <!-- install icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <style>
  	body { font-family: 'proxima_nova';}
  </style>


  <!-- google tracking -->
  <script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6009982432893';
    fb_param.value = '0.00';
    fb_param.currency = 'USD';
    (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
    })();
    </script>  
 
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009982432893&amp;value=0&amp;currency=USD" /></noscript>
</head>
<body>

      <script type="text/javascript">
    //$(document).on("page:change", function() {
    $(document).ready(function() {
      
     $('#left-menu').sidr({
        name: 'sidr-left',
        side: 'left'
      });
     $('#right-menu').sidr({
        name: 'sidr-right',
        side: 'right'
      });

     $.when(
       $('#left-menu').click()
      ).done(function() {
        $('#right-menu').click()
      })
    });
  </script>
      <!-- ***************** -->
      <!-- **** Navbar ***** -->
      <!-- ***************** -->
      <% if user_signed_in? %>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
                  <a id="left-menu" href="#left-menu" class="sidr-click">
                    <div id="menu-icon"></div>
                    <div class="title">menu</div>
                  </a>
                <div id="logo"></div>
              <ul class="nav pull-right">
                <!-- <div id="navbar-avatar"><%= image_tag current_user.avatar.url(:medium) %></div>
                <li class="dropdown">
                  <a class="dropdown" data-toggle="dropdown" href="#">
                    <%= current_user.full_name %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li role="menu"><%= link_to 'View Profile', student_profile_path(current_user)  %></li>
                    <li role="menu"><%= link_to 'Edit Settings', edit_user_registration_path %></li>
                    <li role="menu"><%= link_to 'Log Out', logout_path, :use_rails_ajax => false %></li>
                  </ul>
                </li> -->
                <a id="right-menu" href="#right-menu" class="sidr-click">
                  <i class="fa fa-inbox fa-2x" style="color: #f2f2f2;  padding-top: 10px; padding-right: 4px;"></i>
                </a>
              </ul>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container"> 
              <%= link_to '/' do %>
                <div id="logo"></div>
              <% end %>
              <ul class="nav pull-right">
                <li id="home_link"><%= link_to "Apply", '/apply' %></li>
                <li id="home_link"><%= link_to "Log In", login_path %></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

    	<% flash.each do |type, message| %>
    		<div class="alert <%= flash_class type %>">
    			<button class="close" data-dismiss="alert">x</button>
    			<%= message %>
    		</div>
    	<% end %>

      <!-- ***************** -->
      <!-- ***** Body ****** -->
      <!-- ***************** -->
    	
    	<% if user_signed_in? %>
        <div style="display: block; width: 100%;">
          <div id="loadingbar-frame"></div>
          <div id="main-body">
            <%= yield %>
          </div>
        </div>
    	<% else %>
        <div id="logged-out-main">
    			<%= yield %>
        </div>
    	<% end %>

      <% if user_signed_in? %>
        <div id="sidr-left">
          <%= render 'layouts/sidenav' %>
        </div>
        <div id="sidr-right">
          <div class="top-bar"></div>
        </div>
      <% end %>
</body>

  

<!-- <footer>
  <div class="container">
    <div class="wrapper">
      <div class="left">
        <span>44 E 3rd Avenue</span><br>
        <span>San Mateo, CA 94401</span><br>
        <a href="mailto:questions@draperuniversity.com" target="_blank"><span>questions@draperuniversity.com</span></a>
      </div>
      <div class="right">
        <span>© Draper University of Heroes.  All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>
 -->

</html>
