<!DOCTYPE html>
<html lang="en" style="overflow: visible;">

<head>
  <title>Draper University Online School</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- remove dotted lines in IE9 -->
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <!-- install fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic' rel='stylesheet' type='text/css'>
  <!-- install icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <style>
  	body { font-family: 'proxima_nova';}
  </style>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>

  <!-- ***************** -->
  <!-- **** Navbar ***** -->
  <!-- ***************** -->

  <%= render partial: "layouts/header" %>
  <!-- ***************** -->
  <!-- ***** Body ****** -->
  <!-- ***************** -->
    <div id="main-body">
      <%= yield %>
    </div>

  <!-- ***************** -->
  <!-- *** Sidebars **** -->
  <!-- ***************** -->
  <%= render 'layouts/sidenav' %>
  <div class="sb-slidebar sb-right" id="right-menu">
    <div class="top-bar">
    </div>
  </div><!-- #right-menu -->
  <%= render 'layouts/footer' %>
</body>

</html>
